<!--
 howdy/templates/about.html
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Howdy!</title>
    </head>
    <body>
        <h1>Welcome to the about page</h1>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quis neque ex. Donec feugiat egestas dictum. In eget erat sit amet elit pellentesque convallis nec vitae turpis. Vivamus et molestie nisl. Aenean non suscipit velit. Nunc eleifend convallis consectetur. Phasellus ornare dolor eu mi vestibulum, ornare tempus lacus imperdiet. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque ut sem ligula. Mauris volutpat vestibulum dui in cursus. Donec aliquam orci pellentesque, interdum neque sit amet, vulputate purus. Quisque volutpat cursus nisl, in volutpat velit lacinia id. Maecenas id felis diam.
    </p>
    <a href="/assiut">Go back home</a>
    </body>
</html>-->


<!--
 #howdy/templates/index.html
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Howdy!</title>
    </head>
    <body>
        <h1>Welcome in CRC Assiut</h1>

      <a href="/assiut/upload/">Upload Hex File</a> &
     <a href="/assiut/about/">About Me</a>
    </body>
</html>-->


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head><title>
    Home Page
</title>
    <link href="{{ MEDIA_URL }}Styles/Site.css" rel="stylesheet" type="text/css"/>
    <style type="text/css">
    .style1
    {
        text-align: justify;
        font-family: Verdana;
        color: #000000;
    }
    .style2
    {
        color: #000000;
            width: 124px;
        }






    </style>
    <style type="text/css">
        .style1
        {
            text-align: center;
        }
        .menu
        {
            text-align: center;
        }
        .menu
        {
            text-align: center;
        }
        .menu
        {
            text-align: center;
        }
        .menu
        {
            text-align: center;
        }
        .style2
        {
            width: 124px;
        }
        .style3
        {
            width: 123px;
        }






    </style>
</head>
<body>
<div class="page">
    <div class="header">
        <div class="title">
            <table width=100%>
                <tr>
                    <td class="style2">
                        <img id="Image1" src="{{ MEDIA_URL }}Picture1.jpg" style="height:114px;width:123px;"/>


                    </td>
                    <td align=center class="style3"><img id="Image2" src="{{ MEDIA_URL }}Picture2.png"
                                                         style="height:114px;width:123px;"/></td>
                    <td>
                        <h1>
                            IoT Testbed for Interdisciplinary Research - Assiut University</h1></td>
                </tr>
            </table>
        </div>
        <div class="clear hideSkiplink" style="background-color:white">
            <table width="65%">
                <tr>
                    <td class="style1" align="center">
                        <table width="80%">

                            <tr>
                                <td class="style1" align="center">

                            <tr>
                                <td><a class="level1" href="/assiut">Home</a></td>
                                <td><a class="level1" href="/assiut/upload/">Upload HexFile</a></td>
                                 <td><a class="level1" href="/assiut/viewdevices/">View Devices</a></td>
                                <td><a class="level1" href="Reserver.aspx">View Reservations</a></td>
                                <td><a class="level1" href="/assiut/about/">About</a></td>
                            </tr>

                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </div>
      <hr/>
    <div class="main">


        <p>In this experiment, a remote user is allowed to upload
            a binary file into specific IoT device. The operations held
            behind is that:</p>
        <ol>
            <li> User is authenticated ensured to have valid
                slice on specific resource
            </li>
            <li> the file is uploaded to the
                servers local storage via HTTP protocol
            </li>
            <li> The device
                configuration machine is contacted to issue an AVRDUDE
                command with specific parameters such as com port and
                baud-rate.
            </li>
            <p>
                The board from this moment acts as indicated in
                the binary file. </p>
        </ol>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="myfile">
            <button type="submit">Upload</button>
        </form>

        {% if uploaded_file_url %}
        <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
        {% endif %}

    </div></div>
    <div class="footer">
        <strong>Assiut University</strong>
    </div>

</body>
</html>