/*****************************************************************
Motivated from Geni clearing house
********************/

* {
	margin: 0;
	padding: 0;
}

fieldset, img {
	border: 0;
}



/************************
* GENERAL
************************/

body {
	background-color: #fff;
	/* font-family: "Segoe UI", "Lucida Grande", "Helvetica" , sans-serif;
	font-size: 12pt; */
	min-width: 1000px; /* ADDED July 2012 */
	margin: 0px auto; /* ADDED Aug 14, 2012 */
}

ol {
    list-style-position: inside;
}

a {
    text-decoration: none;
    color: #0066FF;
}

code {
    font-family: "Consolas", "Lucida Console", "Monaco", "Courier New";
}

.odd {
    background-color: #fff;
}

.even {
    background-color: #eee;
}


/************************
* LAYOUT
************************/

/***** Header *****/

/*#header {
    width: 980px;    qursaan: set 980 Edited Aug 14, 2012  prev width:70%
    margin: 30px auto 20px auto;
}*/

#header #logo {
    font-size: 42px;  /* Edited Sept 28, 2012  prev value :36pt*/
    font-weight: bold;
}

#header #logo a {
    color: #000;
}

#header #caption {
    margin-left: 20px;
    font-size: 13.3333px; 
}

#header #caption a {
	color: #0066FF;
}


/***** Navigator *****/

#navigator {
    border-bottom: 3px solid #222;
    width: 100%;
    margin: 0 auto;  /* ADDED Aug 14, 2012 */
}

#tabs {
    margin: 0 auto; 
    width: 900px; /* Editied Aug 14, 2012 prev width: 70% */
}

#meta {
    float: right;
    font-size: 13pt;
    margin: 5px 0;
}

#meta a.logout {
    color: red;
}

#tabs table {
    border-collapse: collapse;
    border-spacing: 0;
}

#tabs table tr td {
   padding: 5px 15px;
   font-size: 14pt;
   border-top: 1px solid #222;
   border-right: 2px solid #222;
   border-left: 2px solid #222;
}

#tabs table tr td a {
    color: #000;
}

#tabs table tr td.active {
    background-color: #222;
    color: #fff;
}

#tabs table tr td.active a {
    color: #fff;
}


/***** Main *****/

#main {
    width: 100%;
    height: 400px;
    padding: 40px 0;
    background-image: url(../images/bg.png);
    background-repeat: repeat-x;
}

#middle {
   margin: 0 auto;
   width: 900px;  /* Edited Aug 14, 2012 prev width:70% */
  padding-bottom: 60px;
}


/***** Notifications *****/

.warning2 {
	border: 1px solid red;
	margin: 20px 60px;
	padding: 10px 20px;
	color: red;
	background-color: #f2dbdb;
	text-align: center;
}
.message {
	border: 1px solid green;
	   max-width : 682px;  /* ADDED July 2012 */
	margin: 20px 60px;
	padding: 10px 20px;
	color: green;
	font-weight: normal;
	background-color: #CCFFCC;
	text-align: center;
}

.tooltip {
	background-color: #efefef;
	color: #333;
	font-size: 10pt;
	padding: 3px;
    border: solid 1px #333;
	z-index:100;
}

ul.errorlist li {
	color: red;
	font-weight: normal;
	font-size: 10pt;
	background-color: #f2dbdb;
    padding: 3px;
    list-style-position: inside;
}

#learn-about-seattle {
   /* max-width : 70%;*/
    text-align : center;
    background-color : #ded;
    border : 1px solid #0a0;
    padding : 1em;
    margin-top : 1em;
    margin-bottom : 1em;
    font-size : 1.3em;
}




table.mytable { border-collapse: collapse; border: 1px solid #839E99;background: #f1f8ee; font: .9em/1.2em Georgia, "Times New Roman", Times, serif; color: #033;  table-layout:fixed; width:870px}
.mytable td, th { padding: 3px 3px .75em 3px; line-height: 1.3em; }
.mytable th { background: #839E99; color: #fff; font-weight: bold;  padding-right: .5em; vertical-align: top; text-align:center }
.mytable  td {word-wrap: break-word; text-align:center}
tr.border_bottom td {border-bottom:1pt solid green;}


/******************************
* STYLE FOR PERSONAL DETAILS TABLE
*******************************/

h1 { 
  font-size: 1.8em; 
  border-bottom: 1px solid #bbb; 
  width: 70%; 
  min-width: 688px;
}

#info {
  background-color : #839E99;
  border : 1px solid #839E99;
  padding : 1em;
  margin-bottom : 1em;
}

#error_msg {
  background-color : #f2dbdb;
  border : 1px solid red;
  padding : 1em;
  margin-bottom : 1em;
}

ul.errorlist li {
	font-size: 12pt;
  padding: 0px;
}

/* ADDED July 27, 2012 to fix the table collapsing on itself when the browser is below a certain size */
table.profile {  
  border-collapse: collapse;
  border-spacing: 0;
  width: 70%;
  min-width: 703px;
  color: black;	 
}

table.profile tr td.key {
  text-align: right;
  height: 30px;
	font-size: 16px;
  font-weight: bold;
  width: 160px;
}

table.profile tr td.value {
  padding-left: 20px;   
    min-width: 500px; /* ADDED July 27, 2012 */
}

table.profile button { 
  width: 80px;
  vertical-align: middle;
  float: right;
  margin-right: 15px;
}

#delete {
  width: 80px;
  vertical-align: middle;
  float: right;
  margin-right: 15px;

}

#upload_key {
  width: 80px;
  vertical-align: middle;
  float: right; 
  margin-right: 15px;

}



table.profile span.hide_this{ 
	display: inline;
	display: none;
}

table.profile form{ 
	display:inline;
}

#download {
  float: right;
  border: 2px solid #666;
  background-color: #fff;
  padding: 10px;
  margin-right: 0px;
  text-align: center;
  font-weight: bold;
}

#download a img {
  display: block;
  width: 150px;
}

#download a {
  color: black;
}

#download_pubkey_form {
  display : inline;	
}
/* ADDED(everything below) Aug 14, 2012 */
#generate_api {
  width: 175px;
}

#change_key form {
  display: inline;
  width: 688px; 
}

#generate_keypair {
  position:relative;
  width: 175px;
  float: right;
  margin-right: 15px;

}
#edit_password table {
 display:inline;
 margin: auto;
  border-collapse: collapse;
  border-spacing: 0;
  padding-left: 5px;
  width: 100%;
}

#edit_password td.field {
  padding-left: 5px;

}

.wide_button {
  width: 175px;
}

.api_cell {
  color:red;
}

.api_cell:hover {
  text-decoration: underline; 
}

img.help {
  position: relative;
  float: left;
  left: 162px;
  display: none;
  /* when a negative margin is applied to right or bottom
  it allows the element to overlap
  */
  margin-bottom: -50px;
}

#id_email {
  width: 200px; 
}

#aff_list {
  width: 200px;
}
#name {
  width: 200px;
}

/*Added Sept 2012 to fix long api keys creating a new line*/
#api_key {
  color: red;
  font-family: courier;
}

#up_arrow {
  height: 36px;
  width: 36px;
  float: right;
  position: relative;
  margin-right: 132px;
  /*when a negative margin is applied to right or bottom
  it allows the element to overlap
  */
  margin-bottom:-50px;
}
