/* Thierry's Note 
it seems to me that most of the stuff here is not register-related,
but general-purpose settings for an openlab style
I've started to move over such stuff in onelab.css
feel free to add to this collection
*/

/* these in general are div.well */
div.onelab-title{
    margin-top:20px;
    margin-bottom:20px;
    text-align: center;
    border: 1px solid #61210B;
    background-color: #e0f0f0;
}

/***** Notifications *****/
.warning {
    border: 1px solid red;
    margin: 20px 60px;
    padding: 10px 20px;
    color: red;
    background-color: #f2dbdb;
    text-align: center;
}

