{% extends "m0.html" %}
{% block data %}
<h1>Loading Image</h1>

<div class="well">
 <form class="cmxform form-horizontal" id="loadimageform" method="post" action="/portal/loadimage" 
 enctype="multipart/form-data" role="form">
    <fieldset>
    {% csrf_token %}
    <div class="form-group">
      <label for="nodes" class="col-xs-2 control-label">Testbeds</label>
      <div class="col-xs-4">

      <select id="cboxnode" name="nodes">
            <option value="node1" label="node 1">Node1</option>
    			<option value="node2" label="node 2">Node2</option>
            <option value="node3" label="node 3">Node3</option>
    			<option value="node4" label="node 4">Node4</option>
            <option value="node5" label="node 5">Node5</option>
      </select>
      </div>
      <div class="col-xs-6"> <p class="form-hint">Select Source Testbed</p> </div>
    </div>
    <div class="form-group">
      <label for="osimage" class="col-xs-2 control-label">Name</label>
      <div class="col-xs-4">
<input type="text" name="image name" value="imagename">
      </div>
      <div class="col-xs-6"><p class="form-hint">Enter Image Name</p></p></div>
    </div>
	
    <div class="form-group" id="loadimage">
      <button class="submit btn btn-default col-xs-12" type="submit">Save</button>
    </div>
  </fieldset>
  </form>  
</div>

{% endblock %}

