/* @override unfold/static/css/plugin.css */
/*------- MARKO'S STYLES -----*/
/* GENERAL */

.container {
    padding: 0;
    /*background-color:white;*/
    color: black;
    margin: 0;
    width: 100%;
    max-width: 100%;
    min-height: 500px;
    height: 100%;
}

div.plugin-outline-complete,
div.plugin-outline-body {
    border: 0px solid;
    border-radius: 0;
    border-color: #ccc;
    -webkit-transition: padding 200ms ease-out;
    -moz-transition: padding 200ms ease-out;
    -o-transition: padding 200ms ease-out;
    transition: padding 0.2s ease-out;
    padding: 20px;
    margin: 0;
}

/*
div.plugin-outline-complete:hover, 
div.plugin-outline-body:hover {
    padding: 80px 80px 120px 80px; 
}
*/
a.plugin-tooltip {
    font-size: 130%;
    font-style: normal;
    font-weight: bold;
    padding: 5px;
    color: #333;
    font-family: Ubuntu, Arial, sans-serif;
    text-transform: uppercase;
}

a.plugin-tooltip:hover {
    color: #fff;
    text-decoration: none;
}

div.logo {
    margin: 0 10px;
}

/* LIST VIEW */
div.well-lg {
    background-color: rgba(168, 32, 202, 0.5);
}

div.onelab-title {
    /*background-color: rgba(168, 32, 202, 0.5);*/
}

h2.well.well-lg {
    border-radius: 0;
    border: 0;
    font-family: Ubuntu, arial, sans-serif;
    /* text-transform: ; */
    font-weight: normal;
    font-size: 40px;
    color: #30196d;
    /* color: white;*/
    margin-bottom: 0px;
    margin-top: 0;
    padding: 40px;
    opacity: 1;
    text-align: center;
    background-color: #30196d;
}

#complete-resources {
    /*    background-color: #92f79e ; */
    background-color: #B8B2FF;
}

#complete-filters {
    /*    background-color: #4af25d; */
    background-color: #add7ff;
}

#complete-users {
    /*    background-color: #ff7394 ; */
    background-color: #add7ff;
}

/*
#complete-measurements {
    background-color: ;
}
*/
#complete-pending {
    /*    background-color: #add7ff ; */
    background-color: #B8B2FF;
}

#complete-customize-resources {
    background-color: #efdfdf;
}

#complete-msgs-pre {
    background-color: #ccc;
}

#complete-resources,
#complete-filters,
#complete-users,
#complete-measurements,
#complete-pending,
#complete-customize-resources,
#complete-msgs-pre {
    opacity: 1;
    text-align: center;
    color: #333;
}

#complete-resources:hover,
#complete-filters:hover,
#complete-users:hover,
#complete-measurements:hover,
#complete-pending:hover,
#complete-customize-resources:hover,
#complete-msgs-pre:hover {
    opacity: 1;
}

.navbar-nav li a:hover {
    color: #572bc9;
}

.navbar-nav li.active a {
    background: #eee;
}

/* Thierry : turning this off
ul.logged-in { 
    padding-top: 25px; 
}
Thierry */
button.logged-in {
    font-size: 1em;
    font-weight: bold;
    margin-left: 5px;
    margin-top: -5px;
    background: #572bc9;
    border: 2px solid #572bc9;
    color: #eee;
    padding: 5px 15px;
    border-radius: 5px;
}

button.logged-in:hover {
    /* background: #4af25d; */
    background: #ff7394;
    border: 2px solid #ff7394;
    color: #333;
}

li.username {
    margin-bottom: 10px;
    font-size: 0.8em;
    text-transform: none;
    font-weight: normal;
    color: #999;
}

/* BOOTSTRAP */
ul.pagination li a {
    /* background: ; */
    color: #572bc9;
    font-family: Ubuntu, Arial, sans-serif;
}

ul.pagination li.active a {
    background: #572bc9;
    border: 1px solid #572bc9;
}

div.dataTables_length label,
div.dataTables_filter label,
div.dataTables_info {
    font-family: Ubuntu, Arial, sans-serif;
}

/* QUERYTABLE */
div.QueryTable table.dataTable th {
    font: bold 12px/22px Ubuntu, Arial, sans-serif;
    color: #333;
    border-right: 0px solid #333;
    border-bottom: 0px solid #C1DAD7;
    border-top: 0px solid #C1DAD7;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: left;
    padding: 8px 12px 4px 20px;
    vertical-align: middle;
    background: url('../img/tablesort-header.png') no-repeat;
}

div.QueryTable table.dataTable td, div.QueryTable table.dataTable textarea, div.QueryTable table.dataTable input [type="text"] {
    font: normal 12px Ubuntu, Arial, Helvetica, sans-serif;
    border-right: 0px solid #fff;
    border-bottom: 1px solid #fff;
}

div.QueryTable table.dataTable thead {
    background: url('../img/tablesort-header.png') repeat-x;
    background-color: #caebea;
}

div.QueryTable table.dataTable tfoot {
    background: url('../img/tablesort-header.png') repeat-x;
    /* background-color: # ; */
}

/* QUERY EDITOR */
table.query-editor {
    margin: 40px auto;
    clear: both;
    /* width: 80%;*/
    width: 100%;
    font-family: Ubuntu;
}

.query-editor-spacer,
.plugin.QueryUpdater /* Thierry : turning this off .plugin.Tabs Thierry */
{
    margin-top: 60px;
}

table.query-editor td {
    padding: 5px 5px;
    font: normal 12px Ubuntu, Arial, sans-serif;
}

/* DASHBOARD */
/*#ms-dashboard-support,
#ms-dashboard-profile,
#ms-dashboard-testbeds,
#ms-dashboard-slices*/
.ms-dashboard {
    -webkit-transition: all 50ms ease-out;
    -moz-transition: all 50ms ease-out;
    -o-transition: all 50ms ease-out;
    transition: all 0.05s ease-out;
    padding-top: 140px;
    padding-bottom: 60px;
    margin-top: 50px;
    /*color: #fff; @qursaan*/
    font-family: sans-serif ;
    text-align: center;

}

/*#ms-dashboard-support:hover,
#ms-dashboard-profile:hover,
#ms-dashboard-testbeds:hover,
#ms-dashboard-slices:hover
.ms-dashboard:hover {
    margin-top: 65px;
}*/

#ms-dashboard-profile {
    background: url("../img/icon_users_color.png") top center no-repeat;
}

#ms-dashboard-testbeds {
    background: url("../img/icon_testbed_color.png") top center no-repeat;
}

#ms-dashboard-slices {
    background: url("../img/icon_slices_color.png") top center no-repeat;
}

#ms-dashboard-support {
    background: url("../img/icon_support.png") top center no-repeat;
}

.ms-dashboard-content ul {
    list-style-type: none;
    padding-left: 0;
    text-align: center;
}

.ms-dashboard-content {
    padding: 0;
}

.ms-dashboard > div.ms-dashboard-caption {
    background: no-repeat url(#);
    padding-left: 0;
}

/*
#ms-dashboard-profile>div.ms-dashboard-caption {
    background: no-repeat url(#) ;
    padding-left: 0 ;
}   

#ms-dashboard-testbeds>div.ms-dashboard-caption {
    background: no-repeat url(#) ;
    padding-left: 0 ;
}   

#ms-dashboard-slices>div.ms-dashboard-caption {
    background: no-repeat url(#) ;
    padding-left: 0 ;
}   */

/*** NEW CSS STYLES FOR ONLEAB ***/

body {
    background-color: white;
    color: black;
}

div.wrapper {
    /*width:980px;*/
    margin: 0 auto;
    position: relative;
}

/* HEADER */
div#header {
    height: 100px;
    background-color: white;
}

div#secondary {
    float: right;
}

div#secondary ul {
    /*position:absolute;
    top:20px;
    right:0;*/
    height: 40px;
    display: flex;
    /* flex-direction: column;*/
    align-items: center;
    padding-top: 20px;
}

div#secondary li {
    font-size: 10pt;
    float: left;
    list-style: none;
    margin-right: 30px;
}

div#secondary li a {
    color: black;
}

div#secondary li a:hover {
    color: #270A5A;
    text-decoration: none;
}

div#secondary li:last-child {
    margin-right: 0;
}

div#navigation {
    background-color: black;
    width: 100%;
    height: 40px;
}

div#navigation div.wrapper {
    text-align: center;
}

nav.wrapper {
    display: table;
    margin: auto;
}

div#navigation ul {
    margin: 0;
    padding: 0;
    display: inline-block;
    list-style-type: none;
    white-space: nowrap;
}

.ms-dashboard .ms-dashboard-content ul li.nav-item {
    margin: 5px ;
}

#menu {
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 13px;
    /*background: #eee;*/
    height: 40px;
    width: auto;

}

#menu li {
    float: left;
    /*margin: 0;*/
}

#menu li a {
    text-decoration: none;
    display: block;
    padding: 0 20px;
    line-height: 40px;
    color: #666;
}

#menu li a:hover,
#menu li.active a {
    background-color: #f5f5f5;
    border-bottom: 2px solid #DDD;
    color: #999;
}

#menu.black {
    /*background: #333;*/
}

#menu.black a {
    /*color: #CCC;*/
}

#menu.black li a:hover,
#menu.black li.active a {
    color: #999;
    background: #555;
    border-bottom: 2px solid #444;
}

div#navigation li {
    color: white;
    font-family: helvetica, sans-serif;
    font-size: 10pt;
    /*font-weight: normal;
    line-height: 0.8em;*/
    letter-spacing: 0.6pt;
    list-style: none;
    /*float: left;*/
    padding: 0;
    margin: 0 10px 0 0;
}

div#navigation li a {
    color: white;
}

div#navigation li a:hover {
    text-decoration: none;
    color: #B8B2FF;
}

div#navigation li:last-child {
    margin-right: 0;
}

/* HOME DASHBOARD */
div#home-dashboard {
    color: black;
    /*margin:25px 0;*/
}

div#home-dashboard table {
    margin: 25px;
    width: 100%;
}

div#home-dashboard table td {
    text-align: center;
    padding: 15px 0;
    width: 33%;
}

div#home-dashboard table tr:first-child td {
    font-size: 12pt;
    font-weight: bold;
    color: #270A5A;
}

div#home-dashboard table tr:last-child td {
    text-align: left;
}

div#home-dashboard table td.support {
    font-size: 14pt;
    vertical-align: top;
    padding-left: 11%;
}

div#home-dashboard table td.support a {
}

div#home-dashboard table td.support a:hover {
    text-decoration: none;
}

.login-submit {
    vertical-align: middle;
    padding: 0;
}

.lost-password {
    font-size: 10pt;
    color: #CCCCCC;
    text-align: right;
    padding: 0px;
}

.lost-password a {
}

.login-signup {
    border-top: 1px solid #CCCCCC;
    text-align: center;
    margin-top: 15px;
    padding: 5px 0 0 0;
}

/**/

/* NAV TABS */

.nav.nav-tabs {
}

.nav.nav-tabs li.active a {
}

.nav.nav-tabs li a {
}

.nav.nav-tabs li a:hover {
}

/**/
/* WELL */
div.well {
}

/**/
/* BUTTON */
.btn.btn-default {
    font-weight: bold;
}

.btn.btn-default:hover {
    font-weight: bold;
}

label {
    font-weight: 700;
}

.outer-wrapper {
    display: table;
    width: 80%;
    height: 100%;
}

.inner-wrapper {
    display: table-cell;
    vertical-align: middle;
    padding: 15px;
}

/* these in general are div.well */
div.onelab-title {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    /*border: 1px solid #61210B;
    background-color: #e0f0f0;*/
}

/***** Notifications *****/
.warning {
    border: 1px solid red;
    margin: 20px 60px;
    padding: 10px 20px;
    color: red;
    background-color: #f2dbdb;
    text-align: center;
}