/* Thierry's Note 
it seems to me that most of the stuff here is not register-related,
but general-purpose settings for an openlab style
I've started to move over such stuff in onelab.css
feel free to add to this collection
*/
   
.error { 
    float: none;
    color: red;
    padding-left: .5em;
    vertical-align: top; 
    font-size: 12px; 
}

.form-hint {
    display:none;
}
/* show up hints when hovering on a the field */
/* pick a small font to avoid flickering effects */
div.form-group:hover p.form-hint {
    display: block;
    color: #FFFFFF;
    background: rgba(0, 0, 0, 0.6);
    padding: 3px 10px;
    font-size: small;
    
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
}

/* avoid blinking effect with the rhs hints */
select#auth_list {
    height: 34px;
}
