#complete-resources {
    background-color: #ffefef;
}
#complete-users {
    background-color: #efffef;
}
#complete-measurements {
    background-color: #efefff;
}
#complete-pending {
    background-color: #efffff;
}
#complete-customize-resources {
    background-color: #efdfdf;
}
