.portal_validate_request {
	background-repeat: no-repeat;
	background-position: 10px center;
	padding: 10px;
	position:relative;
}

.portal_validate_request.slice {
	background-image: url(../img/slice-icon.png);
}

.portal_validate_request.user {
	background-image: url(../img/user-icon.png);
}

.portal_validate_request.authority {
	background-image: url(../img/authority-icon.png);
}

.portal_validate_request .type {
	position: relative;
	left: 2%;
}

.portal_validate_request .id {
	position: absolute;
	left: 5%;
}

.portal_validate_request .authority {
	position: absolute;
	left: 7%;
}

.portal_validate_request .details {
	position: absolute;
	left: 15%;
}

.portal_validate_request .timestamp {
	position: absolute;
	left: 50%;
}

.portal_validate_request .status {
	position: absolute;
	left: 65%;
}

.portal_validate_request input {
	position: absolute;
	left: 60%;
}

.portal_validate_request.even {
	background-color: white;
}

.portal_validate_request.odd {
	background-color: azure;
}
