<header id="header">
    <div class="wrapper">
        <div class="logo">
            <a href="/"><img src="{{ STATIC_URL }}img/crc-portal.png" alt="CRC - Communication and Networking Testbeds"/></a>
        </div>
    </div>

    <div id="navigation">
        <nav class="wrapper">
            <ul id="menu" class="black">
                <li><a href="/portal/dashboard/">DASHBOARD</a></li>
                <li><a href="/portal/tguide/">TEACH GUIDE</a></li>
                <li><a href="/portal/guide/">GUIDE</a></li>
                <li><a href="/portal/support/">SUPPORT</a></li>
                {% if username %}
                    <li><a href="/portal/account/">{{ username }}</a></li>
                    <li><a href="#" id="logout" data-username='{{ username }}'>LOGOUT</a></li>
                {% else %}
                    <li><a href="/login" id="login">LOGIN</a></li>
                {% endif %}
                <li><a target="_blank" href="http://smartci.alexu.edu.eg/crc/doku.php?id=start">ABOUT</a>

            </ul>

        </nav>
    </div>
</header>

