{% extends "layout-unfold1.html" %}
{% block unfold_main %}

    <div class="onelab-title">
        <h2>User Profile</h2>
    </div>
    <div class="well">

        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <form id="editForm" method="POST" role="form" action="account_process" enctype="multipart/form-data">
            <fieldset>

                {% csrf_token %}
                <table class="profile">
                    <tr class="odd">
                        <td colspan="2">
                            <div id="info">Platform: CRC Portal</div>
                        </td>
                    </tr>
                    <tr class="even">
                        <td class="key">Email</td>
                        <td class="value">
                            <span id="emailval" class="value">{{ person.email }}</span>

                        </td>
                    </tr>
                    <tr class="odd">
                        <td class="key">Password</td>
                        <td class="value">

                            <span id="passval" class="value">******** </span>

                        </td>
                    </tr>
                    <tr class="even">
                        <td class="key">Full Name</td>
                        <td class="value">
                            <span id="nameval" class="value">{{ fullname }} </span>

                        </td>
                    </tr>
                    <tr class="odd">
                        <td class="key">Authority</td>
                        <td class="value">
                            <span id="affval" class="value">{{ authority }}</span>

                        </td>
                    </tr>

                    {% if 'N/A' not in user_private_key %}

                    {% else %}

                    {% endif %}
                </table>
            </fieldset>
        </form>
    </div>
{% endblock %}
