{% extends "layout-unfold1.html" %}

{% block head %}
    {{ wizard.form.media }}
{% endblock %}

{% block unfold_main %}

    <div class="onelab-title">
        <h2>CRC-Lab Support</h2>
        <p>If you have any diffculties using the portal, please contact us by filling this form below.</p>
        <p>You can also <a href="mailto:support@crclab.org">e-mail</a> us directly
            <!--or consult to our <a href="http://trac.myslice.info/" >documentation</a--></p>
    </div>

    <!-- no hint for this form, moreover we need more space to write stuff down
         so we use a 3-6-3 layout -->

        <form class="cmxform form-horizontal" id="commentForm" action="#" method="post" role="form">{% csrf_token %}
            <fieldset><div class="row">
                {% for field in form %}
                        <div class="form-group col-md-12">
                            <label for="resources" class="control-label">{{ field.label }}</label>
                            {{ field.errors }} {{ field }}
                            {% if field.help_text %}
                                <p class="form-hint">{{ field.help_text }}</p>
                            {% endif %}
                        </div>
                {% endfor %} </div>
                <button class="submit btn btn-dark" type="submit">Submit to CRC Support</button>
            </fieldset>
        </form>
{% endblock %}

