{% extends "layout-unfold1.html" %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block unfold_main %}

<link rel="stylesheet" type="text/css" href='{{ STATIC_URL }}/css/onelab.css' />
<div class="onelab-title well-sm">
  <h2>CRC-Lab Support</h2>
  <h4>If you have any diffculties using the portal, please contact us by filling this form below.</h4>
  <h4>You can also <a href="mailto:support@crclab.org">e-mail</a> us directly <!--or consult to our <a href="http://trac.myslice.info/" >documentation</a--></h4>
</div>

<!-- no hint for this form, moreover we need more space to write stuff down
     so we use a 3-6-3 layout -->
<div class='well'>
  <form class="cmxform form-horizontal" id="commentForm" action="#" method="post" role="form">{% csrf_token %}
  <fieldset>
    {% for field in form %}
    <div class="form-group">
      <label for='{{ field.html_name }}' class="col-xs-3 control-label">{{ field.label }}</label>
      <div class="col-xs-6"> {{ field.errors }} {{ field }} <p class="form-hint">{{ field.help_text }}</p> </div>
    </div>
    {% endfor %}
    <button class="submit btn btn-default col-xs-12" type="submit">Submit to CRC Support</button>
  </fieldset>
  </form>
</div>

{% endblock %}

