{% extends "layout-unfold1.html" %}

{% block unfold_main %}
<link rel="stylesheet" type="text/css" href='{{STATIC_URL}}css/registration.css' />
<div id="home-dashboard">
	<!--<ul class="nav nav-tabs">
	  <li class="active"><a href="#">USER</a></li>
	  <li><a href="#">MANAGER</a></li>
	</ul>-->
	<div id="user">
		<table>
            {% if user.is_authenticated %}
			<tr>
				<td>PROFILE</td>
				<td>SLICES</td>
				<td>SUPPORT</td>
			</tr>
			<tr>
				<td><img src='{{ STATIC_URL }}img/icon_user_color.png' alt="" /></td>
				<td><img src='{{ STATIC_URL }}img/icon_slices.png' alt="" /></td>
				<td><img src='{{ STATIC_URL }}img/icon_support.png' alt="" /></td>
			</tr>
            {% endif %}
			<tr>
				<td>
				    {% block unfold_margin %}
					{% if not user.is_authenticated %}
				    	{% include 'widget-login.html' %}
					{% endif %}
					{% endblock unfold_margin %}
				</td>
				<td></td>
				<td class="support">
					<div><a href="/portal/contact/">Contact</a></div>
					<div><a href="/portal/support/documentation/">Documentation</a></div>
				</td>
			</tr>
		</table>
	</div>
	<div id="manager">
		
	</div>
</div>
{% endblock unfold_main %}
