{% extends "m0.html" %}
{% block data %}
<h1>Portal Dashboard</h1>
<table>
<tr>
<td>
<div><a href="/portal/dashboard/account/setting">Account Setting</a></div>
<div><a href="/portal/dashboard/account/log">Activity Log</a></div>
<div><a href="/portal/dashboard/testbed/status">Testbeds Status</a></div>
<div><a href="/portal/dashboard/testbed/slice">Testbeds Slice Timetable</a></div>
</td>
</tr>
<tr>
<td>
<div><a href="/portal/dashboard/reservation/new">New Reservation</a></div>
<div><a href="/portal/dashboard/reservation/status">Reservation Status</a></div>
<div><a href="/portal/dashboard/reservation/log">Reservation History</a></div>
</td>
</tr>
<tr>
<td>
<div><a href="/portal/user/file">Cloud Disk Manager</a></div>
<div><a href="/portal/user/builder">OMF Script Builder</a></div>
</td>
</tr>
</table>
{% endblock %}

