{% extends "layout-unfold1.html" %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block unfold_main %}

<div style="text-align:center" class="well-sm">
    <h1>Node Emulation</h1>
</div>
<h2>Logical Topology</h2>
<div id="middle2" align="center">
    <div class="well">
        <img src="{{STATIC_URL}}/img/node-emulation.png" width="900px"/>
    </div>
</div>
<h2>Building Map</h2>
<div id="middle1" align="center">
    <div class="well">
        <img src="{{STATIC_URL}}/img/topology.svg" width="700px"/>
    </div>
</div>

{% endblock %}