{% extends "layout-unfold1.html" %}
{% load i18n %}
{% block unfold_main %}
{% block content %}

<h2>{% trans "Welcome to CRC-Lab secured Password reset wizard" %}</h2>
<p>{% trans "Forgotten your password? Enter your email address below, and system will email instructions for setting a new one." %}</p>

<form action="" method="post">{% csrf_token %}
{{ form.email.errors }}
<p><label for="id_email">{% trans 'Email address:' %}</label> {{ form.email }}
    <input type="submit" value="{% trans 'Reset my password' %}" />
</p>
</form>

{% endblock %}
{% endblock %}

