{% extends "layout-unfold1.html" %}
{% block unfold_main %}
<!--link rel="stylesheet" type="text/css" href='{{ STATIC_URL }}css/onelab.css' /-->
<link rel="stylesheet" type="text/css" href='{{ STATIC_URL }}css/registration.css'/>
<link rel="stylesheet" href="{{STATIC_URL}}css/codemirror.css"/>
<link rel="stylesheet" href="{{STATIC_URL}}css/rubyblue.css"/>
<link rel="stylesheet" href="{{STATIC_URL}}css/fullscreen.css"/>
<script type="text/javascript" src="{{STATIC_URL}}js/codemirror.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/placeholder.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/ruby.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/fullscreen.js"></script>
<style type="text/css">
    #fade {
    display: none;
    position:absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #ababab;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: .70;
    filter: alpha(opacity=80);
    }

    #modal {
    display: none;
    position: absolute;
    top: 45%;
    left: 45%;
    /*width: 64px;
    height: 64px;
    padding:30px 15px 0px;*/
    border: 3px solid #ababab;
    box-shadow:1px 1px 10px #ababab;
    border-radius:20px;
    background-color: white;
    z-index: 1002;
    text-align:center;
    overflow: auto;
    }
</style>

<div style="text-align:center" class="well-sm">
    <h2>Testbeds Remote Control Panel</h2>
</div>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<div id="dashboard" class="container">
    <div id="tabs" class="col-xs-9">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">
                <span class="glyphicon glyphicon-info-sign"></span> Instructions</a>
            </li>
            <li role="presentation"><a href="#loadimage" aria-controls="loadimage" role="tab" data-toggle="tab">
                <span class="glyphicon glyphicon-circle-arrow-down"></span> (1) Load Images</a>
            </li>
            <li role="presentation"><a href="#manager" aria-controls="manager" role="tab" data-toggle="tab">
                <span class="glyphicon glyphicon-play"></span> (2) Execute Manager</a>
            </li>
            <li role="presentation"><a href="#saveimage" aria-controls="saveimage" role="tab" data-toggle="tab">
                <span class="glyphicon glyphicon-cloud-download"></span> (3) Save Image</a>
            </li>
            <li role="presentation"><a href="#remote" aria-controls="remote" role="tab" data-toggle="tab">
                <span class="glyphicon glyphicon-flash"></span> Remote Control</a>
            </li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="home">
                <h4>Instruction:</h4>
                <ol>
                    <li>Open <b><i>Load Image</i></b> tab and load image</li>
                    <li>Wait <b>Loading</b> process finish</li>
                    <li>In <b><i>Execute Manager</i></b> tab and past your script <b>or</b> edit from existing template
                    </li>
                    <li>Execute script remotely using <b>or</b> use <a href="/portal/experiment">external tools</a></li>
                    <li>Open <b><i>Save Image</i></b> tab to save your image if you want to save your work</li>
                </ol>
                <ul>
                    <li><a href="/portal/experiment">See how to use external tools</a></li>
                </ul>
            </div>

            <div role="tabpanel" class="tab-pane" id="loadimage">
                <h4>Loading Image</h4>
                <div class="well"><!--/portal/lab/loadimage/-->
                    <form class="cmxform form-horizontal" id="load-image-form" method="post" action="control_load_image"
                          enctype="multipart/form-data" role="form">
                        <fieldset>
                            {% csrf_token %}
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <div class="ui-widget btn-toolbar" role="group">
                                        <div class="btn-group" role="group">
                                            <button class="btn btn-default" type="reset">
                                                Clear Selection
                                            </button>
                                            <button id="refresh_btn1" class="refresh_btn btn btn-default" type="button">
                                                Refresh Status
                                            </button>
                                            <button id="load_image_btn" class="submit btn btn-danger" type="button">
                                                Load Image
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="nodes" class="col-xs-2 control-label">Testbed Nodes</label>
                                <div class="col-xs-4">
                                    <div id="nodes" class="ui-widget checkbox">
                                        {% for row in node_list %}
                                        <label>
                                            <span name="node_{{ row.node_ref.vm_name }}" class="text-warning"></span>
                                            <input type="checkbox" name="node_group1"
                                                   value="{{ row.node_ref.vm_name }}">
                                            {{ row.node_ref }} </input>
                                            <br>
                                        </label>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <p class="form-hint">Select Target Testbed</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-2 control-label">Image</label>
                                <div class="col-xs-6">
                                    <div class="ui-widget radio">
                                        <label>
                                            <input type="radio" name="image_type" value="base_image" checked>Base
                                            Image</input>
                                        </label>
                                        <select id="osimage" name="osimage" class="form-control" value="{{ image_id }}">
                                            {% for row in image_list %}
                                            <option value="{{ row.id }}"
                                                    label="{{ row.image_name }} :: {{ row.image_type }}"></option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="ui-widget radio">
                                        <label>
                                            <input type="radio" name="image_type" value="user_image">User Image</input>
                                        </label>
                                        <select id="osimage_user" name="osimage_user" class="form-control"
                                                value="{{ user_image_id }}">
                                            {% for row in user_image_list %}
                                            <option value="{{ row.location }}"
                                                    label="{{ row.image_name }} :: Modified"></option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <p class="form-hint">Select the Image</p>
                                </div>
                            </div>
                            <!--div class="form-group">
                                <label for="a_save" class="col-xs-2 control-label">Auto Save</label>
                                <div class="col-xs-4">
                                    <div id="a_save" class="ui-widget checkbox">
                                        <label><input  type="checkbox" name="autosave" value="1">Auto save image(s) on selected node</input></label><br/>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <p class="form-hint">Auto-save image in case of timeout/p>
                                </div>
                            </div-->

                        </fieldset>
                    </form>
                </div>
            </div>

            <div role="tabpanel" class="tab-pane" id="saveimage">
                <h4>Saving Image</h4>
                <div class="well"> <!--control_save_image-->
                    <form class="cmxform form-horizontal" id="save-image-form" method="post" action="control_save_image"
                          enctype="multipart/form-data" role="form">
                        <fieldset>
                            {% csrf_token %}
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <div class="ui-widget btn-toolbar" role="group">
                                        <div class="btn-group" role="group">
                                            <button class="btn btn-default" type="reset">Clear Selection</button>
                                            <button id="refresh_btn2" class="refresh_btn btn btn-default" type="button">
                                                Refresh Status
                                            </button>
                                            <button id="save-image-btn" class="submit btn btn-danger" type="button">Save
                                                Image
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="nodes" class="col-xs-2 control-label">Nodes</label>
                                <div class="col-xs-4">
                                    <div class="ui-widget radio">
                                        {% for row in node_list %}
                                        <label>
                                            <span name="node_{{ row.node_ref.vm_name }}" class="text-warning"></span>
                                            <input type="radio" name="node_group2" value="{{ row.node_ref.vm_name }}">
                                            {{ row.node_ref }} </input>
                                            <br>
                                        </label>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <p class="form-hint">Select Target Testbed</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="image_name" class="col-xs-2 control-label">Image Name</label>
                                <div class="col-xs-4">
                                    <div class="ui-widget">
                                        <input id="image_name" class="form-control" type="text" name="image_name"
                                               value="" required/>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <p class="form-hint">Enter the Image Name</p>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>

            <div role="tabpanel" class="tab-pane" id="remote">
                <h4>Remote Control Machine</h4>
                <div class="well"> <!--control_save_image-->
                    <form class="cmxform form-horizontal" id="remote-image-form" method="post"
                          action="control_remote_node" enctype="multipart/form-data" role="form">
                        <fieldset>
                            {% csrf_token %}
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <div class="ui-widget btn-toolbar" role="group">
                                        <div class="btn-group" role="group">
                                            <button class="btn btn-default" type="reset">Clear Selection</button>
                                            <button id="refresh_btn3" class="refresh_btn btn btn-default" type="button">
                                                Refresh Status
                                            </button>
                                            <button id="remote_start" name="b_start" class="btn btn-info" type="button">
                                                Start
                                            </button>
                                            <button id="remote_restart" name="b_restart" class="btn btn-warning"
                                                    type="button">
                                                Restart
                                            </button>
                                            <button id="remote_shutdown" name="b_shutdown" class="btn btn-danger"
                                                    type="button">
                                                Shutdown
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="nodes" class="col-xs-2 control-label">Nodes</label>
                                <div class="col-xs-4">
                                    <div class="ui-widget radio">
                                        {% for row in node_list %}
                                        <label>
                                            <span name="node_{{ row.node_ref.vm_name }}" class="text-warning"></span>
                                            <input type="radio" name="node_group3" value="{{ row.node_ref.vm_name }}">
                                            {{ row.node_ref }} </input>
                                            <br>
                                        </label>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <p class="form-hint">Select Target Node</p>
                                </div>
                            </div>

                        </fieldset>
                    </form>

                </div>
            </div>

            <div role="tabpanel" class="tab-pane" id="manager">
                <h4>Execute Script</h4>
                <div class="well">
                    <form name="exe-image-form" class="cmxform form-horizontal" id="exe-image-form" method="post"
                          action="create_post" enctype="multipart/form-data" role="form" novalidate>
                        <fieldset>
                            {% csrf_token %}
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <div class="ui-widget btn-toolbar" role="group">
                                        <div class="btn-group" role="group">
                                            <button id="code_clear" class="btn btn-default" type="reset"
                                                    name="code_clear">Clear
                                            </button>
                                            <button id="code_fullscreen" class="btn btn-default" name="code_fullscreen">
                                                Fullscreen
                                            </button>
                                            <div class="btn-group" role="group">
                                                <button type="button" class="btn btn-default dropdown-toggle"
                                                        data-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false">
                                                    Sample Script
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li><a id="sample-1" href="#">PING</a></li>
                                                    <li><a id="sample-2" href="#">USRP</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="btn-group" role="group">
                                            <button class="submit btn btn-danger" type="submit" name="execute_script">
                                                Execute/Run
                                            </button>
                                        </div>
                                    </div>
                                    <div class="ui-widget" style="height: 10px;"></div>
                                    <div style="width: 760px; height:300px;">
                                    <textarea id="code" name="code"
                                              placeholder="Past your script here" required></textarea>
                                    </div>
                                    <small>Press F11 when cursor is in the editor to toggle full screen editing. Esc can
                                        also be used to exit full screen editing.
                                    </small>
                                </div>
                                <div class="col-xs-12"><h5>Output terminal</h5>
                                    <div class="ui-widget">
                                        <textarea id="output" readonly="readonly" style="height:110px; width:100%;">{{ output }}</textarea>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>

            </div>

        </div>

        <div id="fade"></div>
        <div id="modal">
            <img id="loader" src="{{STATIC_URL}}/img/loading1.gif"/>
        </div>
    </div>
    <div id="activity_list" class="col-xs-3" style="padding:0">
        <div class="text-center">
            <h4><span class="glyphicon glyphicon-globe"></span> Activity List</h4>
        </div>
        <table id="activity_tbl" style="margin:0; padding:0" class="table .table-condensed table-bordered table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>Action</th>
                <th>Result</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">

	var count = 0;
    var loading_List=[];
    var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
        lineNumbers: true, theme: "rubyblue",
        mode: {name:"ruby", globalVars: true},
        styleActiveLine: true, matchBrackets: true,
        extraKeys: {
            "F11": function(editor) { editor.setOption("fullScreen", !editor.getOption("fullScreen"));},
            "Esc" : function(editor) { if(editor.getOption("fullScreen")){editor.setOption("fullScreen", false);}}
        }});
    
    $(document).ready(function(){
    	editor.refresh();
	 	update_testbeds();
	 	var my_timer = setInterval(myTimer, 1000);
	 });

/*********************************************** Remote Actions */

	$('#remote_start').on('click', function(event){
	    pre_remote("Start","node_group3");
    });
    
    $('#remote_restart').on('click', function(event){
        pre_remote("Restart","node_group3");
    });

    $('#remote_shutdown').on('click', function(event){
        pre_remote("Shutdown","node_group3");
    });

    function pre_remote(action,node_group_name){
        //event.preventDefault();
        node_name = $('input[name='+node_group_name+']:checked').val();
        aid = add_activity(action+" "+node_name);
        remote(action,node_name,aid);
    };

    function remote(action,node_name,aid) {
        $("#"+aid).text(action + " ...");
        openModal();
        $.ajax({
            url : "control_remote_node",
            type : "POST",
            data : {the_action : action, the_node: node_name, },
            success : function(result) {
            	$("#"+aid).text(result);
                closeModal();
            },
            error : function(xhr,errmsg,err) {
                $("#"+aid).text(xhr.status + ": " + xhr.responseText);
                closeModal();
            }
        });
    };

/*********************************************** Execute Actions */

    $('#code_fullscreen').on('click', function(event){
        event.preventDefault();
        editor.setOption("fullScreen", true);
    });

    $('#code_clear').on('click', function(event){
        event.preventDefault();
        editor.setValue('');
    });

    $('#sample-1').on('click', function(event){
        event.preventDefault();
        aid = add_activity("Get PING Sample");
        load_samples("sample-1",aid);
    });

    $('#sample-2').on('click', function(event){
        event.preventDefault();
        aid = add_activity("Get USRP Sample");
        load_samples("sample-2",aid);
    });

    $('#exe-image-form').on('submit', function(event){
        event.preventDefault();
        create_exe_post();
    });

    function load_samples(sample_no,aid) {
        $("#"+aid).text("Download ...");
        openModal();
        $.ajax({
            url : "load_samples",
            type : "POST",
            data : { the_post : sample_no},
            success : function(json) {
                $("#"+aid).text("Success");
                editor.setValue(json['result']);
                closeModal();
            },
            error : function(xhr,errmsg,err) {
                $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                    " <a href='#' class='close'>&times;</a></div>");
                $("#"+aid).text(xhr.status + ": " + xhr.responseText);
                closeModal();
            }
        });
    };

    function create_exe_post() {
        openModal();
        $.ajax({
            url : "create_exe_post",
            type : "POST",
            data : { the_post : editor.getValue() },
            success : function(json) {
                console.log(json); // log the returned json to the console
                console.log("success"); // another sanity check
                $('#output').val(json['result']);
                closeModal();
            },
            error : function(xhr,errmsg,err) {
                $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                    " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                closeModal();
            }
        });
    };

/******************************************** Loading & Save Actions ***/

    $('#load_image_btn').on('click', function(event){
        event.preventDefault();
        os_type = $('input[name="image_type"]:checked').val();
        os_id   = $('#osimage option:selected').val();

        $('input[name="node_group1"]:checked').each(function() {
            select_node = $(this).val();
            aid     = add_activity("Loading Image on Node: " +select_node);
            loading_image(select_node,os_id,os_type, aid);
        });
    });

    $('#save-image-btn').on('click', function(event){
        event.preventDefault();
        image_name = $('input[name="image_name"]').val();
        node_name = $('input[name="node_group2"]:checked').val();
        aid = add_activity("Saving Image on Node: " +node_name);
        saving_image(node_name,image_name, aid);
    });

    function loading_image(node_name, os_id, os_type, aid) {
        $("#"+aid).text("loading ...");
        openModal();
        $.ajax({
            url  : "control_load_image",
            type : "POST",
            data : {the_node: node_name, the_type:os_type ,the_os:os_id },
            success : function(result) {
            	$("#"+aid).text(result);
                closeModal();
            },
            error : function(xhr,errmsg,err) {
                $("#"+aid).text(xhr.status + ": " + xhr.responseText);
                closeModal();
            }
        });
    };

    function saving_image(node_name,image_name, aid) {
        $("#"+aid).text("Saving ...");
        openModal();
        $.ajax({
            url  : "control_save_image",
            type : "POST",
            data : {the_node: node_name, the_image:image_name },
            success : function(result) {
            	$("#"+aid).text(result);
            	loading_List.push(aid);
                closeModal();
            },
            error : function(xhr,errmsg,err) {
                $("#"+aid).text(xhr.status + ": " + xhr.responseText);
                closeModal();
            }
        });
    };

    function myTimer() {
        for (aid in loading_List) {
            var task_id = {{ slice_id }};
            checking_loading_image(task_id, aid);
        }
    };

    function checking_loading_image(task_id, aid) {
        $("#"+aid).text("0%");
        $.ajax({
            url  : "control_check_load",
            type : "POST",
            data : {the_post: task_id},
            success : function(result) {
                var is_error = result['error'];
                if(is_error=='false')
                {
                    $("#"+aid).text(result['progress']+"%");
                }else{
                    $("#"+aid).text(result['progress']+"%");
                }
            },
            error : function(xhr,errmsg,err) {
                $("#"+aid).text(xhr.status + ": " + xhr.responseText);
            }
        });
    };
/*********************************************** ALL ***/

    function add_activity(a_name) {
    	count++;
    	var table = document.getElementById("activity_tbl");
    	var row = table.insertRow();
    	var cell0 = row.insertCell(0);
    	var cell1 = row.insertCell(1);
    	var cell2 = row.insertCell(2);
    	cell2.id = "activity_"+count;
    	cell0.innerHTML = count;
    	cell1.innerHTML = a_name;
    	cell2.innerHTML = "-";
    	return cell2.id;
	};

    function openModal() {
        document.getElementById('modal').style.display = 'block';
        document.getElementById('fade').style.display = 'block';
    };

    function closeModal() {
        document.getElementById('modal').style.display = 'none';
        document.getElementById('fade').style.display = 'none';
    };
    
    function disableRefresh() {
    	document.getElementById("refresh_btn1").innerHTML = "Checking Status ...";
    	document.getElementById("refresh_btn1").disabled = true;
    	document.getElementById("refresh_btn2").innerHTML = "Checking Status ...";
    	document.getElementById("refresh_btn2").disabled = true;
    	document.getElementById("refresh_btn3").innerHTML = "Checking Status ...";
    	document.getElementById("refresh_btn3").disabled = true;
    };

	function enableRefresh() {
    	document.getElementById("refresh_btn1").innerHTML= "Refresh Status";
    	document.getElementById("refresh_btn1").disabled = false;
    	document.getElementById("refresh_btn2").innerHTML= "Refresh Status";
    	document.getElementById("refresh_btn2").disabled = false;
    	document.getElementById("refresh_btn3").innerHTML= "Refresh Status";
    	document.getElementById("refresh_btn3").disabled = false;
	};

    /*********************************************** Refresh */
	
	$("#refresh_btn3").on('click', function(event){
    	event.preventDefault();
    	update_testbeds();
	});
	$("#refresh_btn2").on('click', function(event){
    	event.preventDefault();
    	update_testbeds();
	});
	$("#refresh_btn1").on('click', function(event){
    	event.preventDefault();
    	update_testbeds();
	});

	function update_testbeds(){
    	{% for n in node_list %}
        	var node_id = '{{ n.node_ref.vm_name }}';
        	check_status(node_id);
    	{% endfor %}
    };

	function check_status(node_id) {
        disableRefresh();
        $.ajax({
            url : "/portal/testbeds/map/check_status",
            type : "POST",
            data : { the_post : node_id },

            success : function(json) {
                var result = json['status'];
                console.log(result);
                if(result=="on"){
                    //$("span[name=node_"+node_id+"]").text("Online");
                    $("span[name=node_"+node_id+"]").removeAttr('class').attr('class', "glyphicon glyphicon-ok-sign text-success");
                }else if(result=="off"){
                    //$("span[name=node_"+node_id+"]").text("Offline");
                    $("span[name=node_"+node_id+"]").removeAttr('class').attr('class', "glyphicon glyphicon-off text-danger");
                }else{
                    //$("span[name=node_"+node_id+"]").text("N/A");
                    $("span[name=node_"+node_id+"]").removeAttr('class').attr('class', "glyphicon glyphicon-exclamation-sign text-warning");
                };
                enableRefresh();
            },
            error : function(xhr,errmsg,err) {
                $("span[name=node_"+node_id+"]").text("N/A");
                $("span[name=node_"+node_id+"]").removeAttr('class').attr('class', "text-warning");
                enableRefresh();
            }
        });
    };


</script>

{% endblock %}
