{% extends "layout-unfold1.html" %}
{% block unfold_main %}
<!--link rel="stylesheet" type="text/css" href='{{ STATIC_URL }}css/onelab.css' /-->
<link rel="stylesheet" type="text/css" href='{{ STATIC_URL }}css/registration.css'/>
<link rel="stylesheet" href="{{STATIC_URL}}css/codemirror.css"/>
<link rel="stylesheet" href="{{STATIC_URL}}css/rubyblue.css"/>
<link rel="stylesheet" href="{{STATIC_URL}}css/fullscreen.css"/>
<link rel="stylesheet" href="{{STATIC_URL}}css/fade.css"/>
<script type="text/javascript" src="{{STATIC_URL}}js/codemirror.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/placeholder.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/ruby.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/fullscreen.js"></script>

<style type="text/css">

    .table>tbody>tr>td{
        padding: 1px !important;
        font-size: 12px;
    }

    .table-bordered>tbody>tr>td , .table-bordered>thead>tr>th, .table-bordered>tfoot>tr>th{
        border: none !important;
        border-bottom: 1px solid #ddd !important;
    }

    #clockdiv{
        color: #fff;
        display: inline-block;
        font-weight: 100;
        text-align: center;
        font-size: 18px;
    }

    #clockdiv > div{
        padding: 3px;
        background: #00BF96;
        display: inline-block;
    }

    #clockdiv div > span{
        padding: 2px;
        background: #00816A;
        display: inline-block;
    }

    .smalltext{
        padding-top: 5px;
        font-size: 10px;
    }
    .headclock{
        padding: 0px;
        font-size: 10px;
    }

    .console {
        font-family:Courier;
        font-size:12px;
        color: #CCCCCC;
        background: #000000;
        border: 3px double #CCCCCC;
        padding: 10px !important;
    }

    #table-wrapper {
        position:relative;
    }
    #activityList {
        height:350px;
        overflow:auto;
    }
    #table-wrapper table {
        width:100%;
    }

    #activity_list{

    }
    pre{
        color: #CCCCCC !important;
        background: #000000 !important;
        font-family:Courier !important;
    }
</style>

<div class="col-xs-12">
    <div style="text-align:center" class="col-xs-9 well-sm">
        <h2>{{ title }}</h2>
    </div>
    <div class="col-xs-3" id="clockdiv">
        <div >
            <span>Remaining</span>
            <div class="smalltext">Slice Time</div>
        </div>
        <div>
            <span class="days"></span>
            <div class="smalltext">Days</div>
        </div>
        <div>
            <span class="hours"></span>
            <div class="smalltext">Hours</div>
        </div>
        <div>
            <span class="minutes"></span>
            <div class="smalltext">Minutes</div>
        </div>
        <div>
            <span class="seconds"></span>
            <div class="smalltext">Seconds</div>
        </div>
    </div>
</div>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<div id="dashboard" class="container">
    <div id="tabs_list" class="col-xs-9">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">
                <span class="glyphicon glyphicon-info-sign"></span> Instructions</a>
            </li>
            <li role="presentation"><a href="#loadimage" aria-controls="loadimage" role="tab" data-toggle="tab">
                <span class="glyphicon glyphicon-circle-arrow-down"></span> Load Images</a>
            </li>
            {% if stype == "omf" %}
            <li role="presentation"><a href="#manager" aria-controls="manager" role="tab" data-toggle="tab">
                <span class="glyphicon glyphicon-play"></span> Script Manager</a>
            {% endif %}
            <li role="presentation"><a href="#terminal" aria-controls="terminal" role="tab" data-toggle="tab">
                <span class="glyphicon glyphicon-expand"></span> Console</a>
            </li>
            <li role="presentation"><a href="#saveimage" aria-controls="saveimage" role="tab" data-toggle="tab">
                <span class="glyphicon glyphicon-cloud-download"></span> Save Images</a>
            </li>
            <li role="presentation"><a href="#remote" aria-controls="remote" role="tab" data-toggle="tab">
                <span class="glyphicon glyphicon-flash"></span> Remote Control</a>
            </li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="home">
                <h4>Instruction:</h4>
                <ol>
                    <li>Open <b><i>Load Image</i></b> tab and load image</li>
                    <li>Wait <b>Loading</b> process finish</li>
                    {% if stype == "omf" %}
                    <li>In <b><i>Execute Manager</i></b> tab and past your script <b>or</b> edit from existing template
                    </li>
                    {% else %}
                    <li> To access the controller server use
                        ssh <b>crc-am@193.227.16.154</b> with password <b>CRC123</b>
                    </li>
                    <li> To access the any virtual node use
                        ssh <b>crc</b> with no password <!--b>crc123</b-->
                    </li>
                    {% endif %}
                    <li>Execute script remotely using <b>or</b> use <a href="/portal/experiment">external tools</a></li>
                    <li>Open <b><i>Save Image</i></b> tab to save your image if you want to save your work</li>
                </ol>
                <ul>
                    <li><a href="/portal/experiment">See how to use external tools</a></li>
                </ul>
            </div>

            <div role="tabpanel" class="tab-pane" id="loadimage">
                <h4>Loading Image</h4>
                <div class="well">
                    <form class="cmxform form-horizontal" id="load-image-form" method="post" action="control_load_image"
                          enctype="multipart/form-data" role="form">
                        <fieldset>
                            {% csrf_token %}
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <div class="ui-widget btn-toolbar" role="group">
                                        <div class="btn-group" role="group">
                                            <button class="btn btn-default" type="reset">
                                                Clear Selection
                                            </button>
                                            <button id="refresh_btn1" class="refresh_btn btn btn-default" type="button">
                                                Refresh Status
                                            </button>
                                            <button id="load_image_btn" class="submit btn btn-danger" type="button">
                                                Load Image
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="nodes" class="col-xs-2 control-label">Testbed Nodes</label>
                                <div class="col-xs-4">
                                    <div id="nodes" class="ui-widget checkbox">
                                        {% for row in node_list %}
                                        <label >
                                            <input data-id="node_{{ row.node_ref.vm_name }}" type="checkbox" name="node_group1" value="{{ row.node_ref.vm_name }}">
                                            <span name="node_{{ row.node_ref.vm_name }}" class="text-warning"></span> {{row.node_ref}} </input>
                                            <br>
                                        </label>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <p class="form-hint">Select Target Testbed</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-2 control-label">Image</label>
                                <div class="col-xs-6">
                                    <div class="ui-widget radio">
                                        <label>
                                            <input type="radio" name="image_type" value="base_image" checked>Base Image</input>
                                        </label>
                                        <select id="osimage" name="osimage" class="form-control" value="{{ image_id }}">
                                            {% for row in image_list %}
                                            <option value="{{ row.id }}" label="{{ row.image_name }} :: {{ row.image_type }}">
                                                {{ row.image_name }} :: {{ row.image_type }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="ui-widget radio">
                                        <label>
                                            <input type="radio" name="image_type" value="user_image">User Image</input>
                                        </label>
                                        <select id="osimage_user" name="osimage_user" class="form-control"
                                                value="{{ user_image_id }}">
                                            {% for row in user_image_list %}
                                            <option value="{{ row.location }}"
                                                    label="{{ row.image_name }} :: Modified">{{ row.image_name }} :: Modified</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <p class="form-hint">Select the Image</p>
                                </div>
                            </div>

                        </fieldset>
                    </form>
                </div>
            </div>

            <div role="tabpanel" class="tab-pane" id="saveimage">
                <h4>Saving Image</h4>
                <div class="well"> <!--control_save_image-->
                    <form class="cmxform form-horizontal" id="save-image-form" method="post" action="control_save_image"
                          enctype="multipart/form-data" role="form">
                        <fieldset>
                            {% csrf_token %}
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <div class="ui-widget btn-toolbar" role="group">
                                        <div class="btn-group" role="group">
                                            <button class="btn btn-default" type="reset">Clear Selection</button>
                                            <button id="refresh_btn2" class="refresh_btn btn btn-default" type="button">
                                                Refresh Status
                                            </button>
                                            <button id="save-image-btn" class="submit btn btn-danger" type="button">Save
                                                Image
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="nodes" class="col-xs-2 control-label">Nodes</label>
                                <div class="col-xs-4">
                                    <div class="ui-widget radio">
                                        {% for row in node_list %}
                                        <label>
                                            <input data-id="node_{{ row.node_ref.vm_name }}" type="radio" name="node_group2" value="{{ row.node_ref.vm_name }}">
                                            <span name="node_{{ row.node_ref.vm_name }}" class="text-warning"></span> {{row.node_ref}} </input>
                                            <br>
                                        </label>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <p class="form-hint">Select Target Testbed</p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="image_name" class="col-xs-2 control-label">Image Name</label>
                                <div class="col-xs-4">
                                    <div class="ui-widget">
                                        <input id="image_name" class="form-control" type="text" name="image_name"
                                               value="" required/>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <p class="form-hint">Enter the Image Name</p>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>

            <div role="tabpanel" class="tab-pane" id="remote">
                <h4>Remote Control Machine</h4>
                <div class="well"> <!--control_save_image-->
                    <form class="cmxform form-horizontal" id="remote-image-form" method="post"
                          action="control_remote_node" enctype="multipart/form-data" role="form">
                        <fieldset>
                            {% csrf_token %}
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <div class="ui-widget btn-toolbar" role="group">
                                        <div class="btn-group" role="group">
                                            <button class="btn btn-default" type="reset">Clear Selection</button>
                                            <button id="refresh_btn3" class="refresh_btn btn btn-default" type="button">
                                                Refresh Status
                                            </button>
                                            <button id="remote_start" name="b_start" class="btn btn-info" type="button">
                                                Start
                                            </button>
                                            <button id="remote_restart" name="b_restart" class="btn btn-warning"
                                                    type="button">
                                                Restart
                                            </button>
                                            <button id="remote_shutdown" name="b_shutdown" class="btn btn-danger"
                                                    type="button">
                                                Shutdown
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="nodes" class="col-xs-2 control-label">Nodes</label>
                                <div class="col-xs-4">
                                    <div class="ui-widget radio">
                                        {% for row in node_list %}
                                        <label>
                                            <input type="radio" name="node_group3" value="{{ row.node_ref.vm_name }}">
                                            <span name="node_{{ row.node_ref.vm_name }}" class="text-warning"></span> {{row.node_ref}} </input>
                                            <br>
                                        </label>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <p class="form-hint">Select Target Node</p>
                                </div>
                            </div>
                        </fieldset>
                    </form>

                </div>
            </div>

            {% if stype == "omf" %}
            <div role="tabpanel" class="tab-pane" id="manager">
                <h4>Execute Script</h4>
                <div class="well">
                    <form name="exe-image-form" class="cmxform form-horizontal" id="exe-image-form" method="post"
                          action="create_post" enctype="multipart/form-data" role="form" novalidate>
                        <fieldset>
                            {% csrf_token %}
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <div class="ui-widget btn-toolbar" role="group">
                                        <div class="btn-group" role="group">
                                            <button id="code_clear" class="btn btn-default" type="reset"
                                                    name="code_clear">Clear
                                            </button>
                                            <button id="code_fullscreen" class="btn btn-default" name="code_fullscreen">
                                                Fullscreen
                                            </button>
                                            <div class="btn-group" role="group">
                                                <button type="button" class="btn btn-default dropdown-toggle"
                                                        data-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false">
                                                    Sample Script
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li><a id="sample-1" href="#">PING</a></li>
                                                    <li><a id="sample-2" href="#">USRP</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="btn-group" role="group">
                                            <button id="execute_script" class="submit btn btn-danger" type="button" name="execute_script">
                                                Execute/Run
                                            </button>
                                            <button id="abort_script" class="submit btn btn-danger" type="button" name="abort_script" style="display: none;" disabled>
                                                Abort
                                            </button>
                                        </div>
                                    </div>
                                    <div class="ui-widget" style="height: 10px;"></div>
                                    <div style="width: 760px; height:300px;">
                                    <textarea id="code" name="code"
                                              placeholder="Past your script here" required></textarea>
                                    </div>
                                    <small>Press F11 when cursor is in the editor to toggle full screen editing. Esc can
                                        also be used to exit full screen editing.
                                    </small>
                                </div>
                                <div class="col-xs-12"><h5>Output terminal</h5>
                                    <div class="">
                                        <textarea id="output" readonly="readonly" style="height:200px; width:100%;" class="console">{{ output }}</textarea>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
            {% endif %}

            <div role="tabpanel" class="tab-pane" id="terminal">
                <h4>Web Terminal</h4>
                <div class="well"> <!--control_save_image-->
                    <form class="cmxform form-horizontal" id="terminal-form" method="post"
                          action="control_remote_node" enctype="multipart/form-data" role="form">
                        <fieldset>
                            {% csrf_token %}
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <div class="ui-widget btn-toolbar" role="group">
                                        <div class="btn-group" role="group">
                                            <button id="terminal_con" class="btn btn-info" type="button">Connect</button>
                                        </div>
                                    </div>
                                    <iframe id="terminal_window" src=""
                                            sandbox="allow-same-origin allow-scripts"
                                            height="400px" scrolling="no" width="100%"
                                            enabled="false" align="middle"
                                            frameborder="1" marginwidth="100" class="console">
                                        <p>Terminal cannot be shown because this browser doesnt support iframes.</p>
                                    </iframe>
                                </div>
                            </div>
                        </fieldset>
                    </form>

                </div>
            </div>
        </div>
        <div id="fade"></div>
        <div id="modal">
            <img id="loader" src="{{STATIC_URL}}/img/loading1.gif"/>
        </div>
    </div>

    <div id="activity_list" class="col-xs-3" style="padding:0">
        <ul class="nav nav-tabs nav-justified" role="tablist">

            <li role="presentation" class="active">
                    <a href="#activityList" aria-controls="activityList" role="tab" data-toggle="tab">
                    <span class="glyphicon glyphicon-list-alt"></span> Activity Log </a>
                </li>
        </ul>
        <div id="table-wrapper" class="tab-content">
            <div id="activityList" role="tabpanel" class="tab-pane active" >
                <table id="activity_tbl" style="margin:0; padding:0" class="table table-condensed table-hover table-bordered">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Action</th>
                        <th>Result</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody id="activity_content">
                    </tbody>
                    <tfoot>
                    <tr>
                        <th colspan="2">
                            <button id="clear_all_btn" class="btn btn-default btn-xs btn-block" type="button">Clear list</button>
                        </th> <th colspan="2">
                            <button id="get_last_btn" class="btn btn-default btn-xs btn-block" type="button">Restore last Session </button>
                        </th>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="{{STATIC_URL}}js/slice-control.js"></script>
<script type="text/javascript">
var count = 0;
var loading_List=[];
var saving_List=[];
var exe_List=[];
var activityTable;
var change_flag = false;
var deadline = new Date("{{ deadline.isoformat }}");
var show_warning = true;

$(document).ready(function(){
    activityTable = document.getElementById("activity_tbl").getElementsByTagName('tbody')[0];
    {% if stype == "omf" %}
        editor.refresh();
    {% endif %}
    update_testbeds();
    initializeClock('clockdiv', deadline);
});
/***************************************** Editor ************/
{% if stype == "omf" %}
    var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
        lineNumbers: true, theme: "rubyblue",
        mode: {name:"ruby", globalVars: true},
        styleActiveLine: true, matchBrackets: true,
        extraKeys: {
            "F11": function(editor) { editor.setOption("fullScreen", !editor.getOption("fullScreen"));},
            "Esc" : function(editor) { if(editor.getOption("fullScreen")){editor.setOption("fullScreen", false);}}
        }});
{% endif %}
/*********************************************** Timer **/
function myTimer() {
    for (var a in loading_List) {
        checking_status_image(loading_List[a][0], loading_List[a][1], a,loading_List, "control_check_load");
    }
    for (var a in saving_List) {
        checking_status_image(saving_List[a][0], saving_List[a][1], a, saving_List,"control_check_save");
    }
    for (var a in exe_List) {
        checking_status_exe(exe_List[a][0], exe_List[a][1], a, exe_List);
    }
    if ( change_flag )
    {
        update_testbeds();
        change_flag = false;
    }
};

function getTimeRemaining(endtime) {
    var t = Date.parse(endtime) - Date.parse(new Date());
    var seconds = Math.floor((t / 1000) % 60);
    var minutes = Math.floor((t / 1000 / 60) % 60);
    var hours = Math.floor((t / (1000 * 60 * 60)) % 24);
    var days = Math.floor(t / (1000 * 60 * 60 * 24));
    return {
        'total': t,'days': days,'hours': hours,'minutes': minutes,'seconds': seconds
    };
};

function initializeClock(id, endtime) {
    var clock = document.getElementById(id);
    var daysSpan = clock.querySelector('.days');
    var hoursSpan = clock.querySelector('.hours');
    var minutesSpan = clock.querySelector('.minutes');
    var secondsSpan = clock.querySelector('.seconds');

    function updateClock() {
        var t = getTimeRemaining(endtime);

        daysSpan.innerHTML = t.days;
        hoursSpan.innerHTML = ('0' + t.hours).slice(-2);
        minutesSpan.innerHTML = ('0' + t.minutes).slice(-2);
        secondsSpan.innerHTML = ('0' + t.seconds).slice(-2);

        if (t.total <= 0) {
          clearInterval(timeinterval);
          document.location.href = '/portal/dashboard/';
        }

        if( (show_warning) && (t.total/1000/60)<=5 )
        {
            show_warning = false;
            alert("Remaining time is less than 5 minutes, Save your image(s) if you want to keep your data.");
        }
    }
    updateClock();
    var timeinterval = setInterval(updateClock, 1000);
    var timecheck = setInterval(myTimer, 5000);
};

/*********************************************** Remote Actions */

$('#remote_start').on('click', function(event){
    pre_remote("Start","node_group3");
});

$('#remote_restart').on('click', function(event){
    pre_remote("Restart","node_group3");
});

$('#remote_shutdown').on('click', function(event){
    pre_remote("Shutdown","node_group3");
});

function pre_remote(action,node_group_name){
    //event.preventDefault();
    node_name = $('input[name='+node_group_name+']:checked').val();
    aid = add_activity(action+" "+node_name);
    remote(action,node_name,aid);
};

function remote(action,node_name,aid) {
    $("#"+aid).text(action + " ...");
    openModal();
    $.ajax({
        url : "control_remote_node",
        type : "POST",
        data : {the_action : action, the_node: node_name, stype: '{{ stype }}' },
        success : function(result) {
            if(result=="eof")
            {
                document.location.href = '/portal/lab/current/';
            }else{
                print_recolor(aid,1,result);
            }
            change_flag = true;
            closeModal();
        },
        error : function(xhr,errmsg,err) {
            print_recolor(aid,3,"Unexpected Error, try again later");
            closeModal();
        }
    });
};

/*********************************************** Execute Actions */
{% if stype == "omf" %}

$('#code_fullscreen').on('click', function(event){
    event.preventDefault();
    editor.setOption("fullScreen", true);
});

$('#code_clear').on('click', function(event){
    event.preventDefault();
    editor.setValue('');
});

$('#sample-1').on('click', function(event){
    event.preventDefault();
    aid = add_activity("Load PING Sample");
    load_samples("sample-1",aid);
});

$('#sample-2').on('click', function(event){
    event.preventDefault();
    aid = add_activity("Load USRP Sample");
    load_samples("sample-2",aid);
});

$('#execute_script').on('click', function(event){
    if(editor.getValue() == "")
    {
        alert("No code to execute");
        return;
    }
    event.preventDefault();
    aid = add_activity("Running Script");
    create_exe_post(aid);
});

$('#abort_script').on('click', function(event){
    event.preventDefault();
    //aid = add_activity("Cancel Script");
    abort_script_exe(exe_List[0][0],exe_List[0][1],0,exe_List);
});

function exe_button(state)
{
    if( state == 0){  //Disable exe
        $('#execute_script').attr("style","display: none;");
        $('#execute_script').attr("disabled","disabled");
        $('#abort_script').removeAttr("style");
        $('#abort_script').removeAttr("disabled");
    }
    else if( state == 1)
    {
        $('#abort_script').attr("disabled","disabled");
        $('#abort_script').attr("style","display: none;");
        $('#execute_script').removeAttr("style");
        $('#execute_script').removeAttr("disabled");
    }
};

function load_samples(sample_no,aid) {
    $("#"+aid).text("Download ...");
    openModal();
    $.ajax({
        url : "load_samples",
        type : "POST",
        data : { the_post : sample_no},
        success : function(json) {
            editor.setValue(json['result']);
            print_recolor(aid,1,"Success");
            closeModal();
        },
        error : function(xhr,errmsg,err) {
            print_recolor(aid,3,"Server not connected, try again later");
            closeModal();
        }
    });
};

function create_exe_post(aid) {
    openModal();
    $.ajax({
        url : "control_exe_script",
        type : "POST",
        data : { script_text : editor.getValue() },
        success : function(json) {
            $('#output').val("");
            print_recolor(aid,2,"In progress");
            exe_List.push([json['exp_id'],aid]);
            closeModal();
            exe_button(0);
        },
        error : function(xhr,errmsg,err) {
            print_recolor(aid,3,"Server not connected, try again later");
            closeModal();
            exe_button(1);
        }
    });
};

function abort_script_exe(eid, aid, idx, a_list) {
    $.ajax({
        url  : "control_exe_abort",
        type : "POST",
        data : {the_eid: eid,},
        success : function(result) {
            if(result == "eof"){
                document.location.href = '/portal/lab/current/';
            } else {
                if( result.startsWith("success")){
                    print_recolor(aid, 1, result);
                } else if ( result.startsWith("warning")){
                    print_recolor(aid, 2, result);
                } else {
                    print_recolor(aid, 3, result);
                }
            }
            a_list.splice(idx,1);
            exe_button(1);
        },
        error : function(xhr,errmsg,err) {
           console.log(err);
           print_recolor(aid,3,"Server not connected, try again later");
           exe_button(0);
        }
    });
};

function checking_status_exe(eid, aid, idx, a_list) {
    $.ajax({
        url  : "control_check_exe",
        type : "POST",
        data : {the_eid: eid,},
        success : function(result) {
            //console.log(result);
            var is_done = result['done'];
            if(is_done==false){
                var log = result['log']
                var output ='';
                for (txt in log){
                    output += log[txt] + '\n';
                }
                $('#output').val(output);
                $('#output').scrollTop($('#output')[0].scrollHeight);
                print_recolor(aid,2,"In progress");
            } else {
                print_recolor(aid,1,"Complete");
                a_list.splice(idx,1);
                exe_button(1);
            }
        },
        error : function(xhr,errmsg,err) {
           console.log(err);
           print_recolor(aid,3,"Server not connected, try again later");
           a_list.splice(idx,1);
        }
    });
};
{% endif %}
/******************************************** Loading & Save Actions ***/

$('#load_image_btn').on('click', function(event){
    event.preventDefault();
    os_type = $('input[name="image_type"]:checked').val();
    os_id   = $('#osimage option:selected').val();

    var select_node_list = [];                      //
    var aid_list         = [];                      //

    $('input[name="node_group1"]:checked').each(function() {
        select_node = $(this).val();
        select_node_list.push(select_node);          //
        aid     = add_activity("Loading Image on Node: " +select_node);
        aid_list.push(aid);                          //
        //loading_image(select_node,os_id,os_type, aid);
    });
    loading_image(select_node_list,os_id,os_type, aid_list);
});

$('#save-image-btn').on('click', function(event){
    event.preventDefault();
    image_name = $('input[name="image_name"]').val();
    node_name = $('input[name="node_group2"]:checked').val();
    aid = add_activity("Saving Image on Node: " +node_name);
    saving_image(node_name,image_name, aid);
});

function loading_image(node_name, os_id, os_type, aid) {
    for( x in aid){
        $("#"+aid[x]).text("loading ...");
    }
    openModal();
    $.ajax({
        url  : "control_load_image",
        type : "POST",
        data : {the_node: node_name, the_type:os_type ,the_os:os_id, stype: '{{ stype }}', },
        success : function(result) {
            if(result == "eof"){
                document.location.href = '/portal/lab/current/';
            } else {
                if( result.startsWith("success")){
                    for(var x in aid)
                    {
                        print_recolor(aid[x], 1, result);
                        loading_List.push([node_name[x],aid[x]]);
                    }
                } else if ( result.startsWith("warning")){
                    print_recolor(aid, 2, result);
                } else {
                    print_recolor(aid, 3, result);
                }
            }
            closeModal();
        },
        error : function(xhr,errmsg,err) {
            for(x in aid)
            {
                print_recolor(aid[x],3,"Server Error, try again later");
            }
            closeModal();
        }
    });
};

function saving_image(node_name,image_name, aid) {
    $("#"+aid).text("Saving ...");
    openModal();
    $.ajax({
        url  : "control_save_image",
        type : "POST",
        data : {the_node: node_name, the_image:image_name, stype: '{{ stype }}', },
        success : function(result) {
            if(result=="eof"){
                document.location.href = '/portal/lab/current/';
            }else{
                if( result.startsWith("success")){
                    print_recolor(aid,1,result);
                    saving_List.push([node_name,aid]);
                }else if( result.startsWith("warning")){
                    print_recolor(aid,2,result);
                }else{
                    print_recolor(aid,3,result);
                }
            }
            closeModal();
        },
        error : function(xhr,errmsg,err) {
            print_recolor(aid,3,"Server Error, try again later");
            closeModal();
        }
    });
};

function checking_status_image(node_name, aid, idx, a_list, a_url) {
    $.ajax({
        url  : a_url,
        type : "POST",
        data : {the_node: node_name, stype: '{{ stype }}',},
        success : function(result) {
            console.log(result);
            var is_error = result['error'];
            if(is_error==false){
                if(result['done']==true)
                {
                    print_recolor(aid,1,"Done.");
                    a_list.splice(idx,1);
                }else if( parseInt(result['progress']) <100){
                    print_recolor(aid,1,result['progress']+"%");
                } else {
                    print_recolor(aid,2,"In progress...");
                }
            } else {
                if (is_error==true){
                    print_recolor(aid,3,"Server error");
                } else{
                    print_recolor(aid,3,"Failed");
                }
                a_list.splice(idx,1);
            }
        },
        error : function(xhr,errmsg,err) {
           console.log(err);
           print_recolor(aid,3,"Server not connected, try again later");
           a_list.splice(idx,1);
        }
    });
};
/********************************************* Terminal **/

$("#terminal_con").on('click', function(event){
    connect_terminal();
});

function connect_terminal(){
    var address  = ("https://193.227.16.154:4200/");
    var element  = document.getElementById("terminal_window");
    //var url =  element.src;
    element.src  = address;
};
/*********************************************** ALL ***/
function add_activity(a_name) {
    count++;
    var table = activityTable;
    var row = table.insertRow();
    var cell0 = row.insertCell(0);
    var cell1 = row.insertCell(1);
    var cell2 = row.insertCell(2);
    var cell3 = row.insertCell(3);
    cell2.id = "activity_"+count;
    cell3.id = cell2.id + "_ico";
    row.id = cell2.id + "_row";
    cell0.innerHTML = count;
    cell1.innerHTML = a_name;
    cell2.innerHTML = "-";
    cell3.innerHTML = "";

    $('#activityList').scrollTop($('#activityList')[0].scrollHeight);
    return cell2.id;
};

$("#clear_all_btn").on('click', function(event){
    $("#activity_content").empty();
    count=0;
});

$("#get_last_btn").on('click', function(event){
    {% for n in node_list %}
        var node_id = '{{ n.node_ref.vm_name }}';
        var l = '{{n.details}}';
        if( l != 'NA')
        {
            var node_name = '{{ n.node_ref.vm_name }}';
            aid = add_activity(node_name +', {{n.details}} image at {{n.last_action}}');

            if(l=="save")
                saving_List.push([node_name,aid]);
            else if(l=="load")
                loading_List.push([node_name,aid]);
        }
    {% endfor %}
});

function openModal() {
    document.getElementById('modal').style.display = 'block';
    document.getElementById('fade').style.display = 'block';
};

function closeModal() {
    document.getElementById('modal').style.display = 'none';
    document.getElementById('fade').style.display = 'none';
};

function disableRefresh() {
    document.getElementById("refresh_btn1").innerHTML = "Checking Status ...";
    document.getElementById("refresh_btn1").disabled = true;
    document.getElementById("refresh_btn2").innerHTML = "Checking Status ...";
    document.getElementById("refresh_btn2").disabled = true;
    document.getElementById("refresh_btn3").innerHTML = "Checking Status ...";
    document.getElementById("refresh_btn3").disabled = true;
};

function enableRefresh() {
    document.getElementById("refresh_btn1").innerHTML= "Refresh Status";
    document.getElementById("refresh_btn1").disabled = false;
    document.getElementById("refresh_btn2").innerHTML= "Refresh Status";
    document.getElementById("refresh_btn2").disabled = false;
    document.getElementById("refresh_btn3").innerHTML= "Refresh Status";
    document.getElementById("refresh_btn3").disabled = false;
};

function print_recolor(aid, level, msg)
{
    $("#"+aid).text(msg);
    if(level==1){
        $("#"+aid).attr('class', "text-success");
        $("#"+aid+"_ico").attr('class', "glyphicon glyphicon-ok text-success");
    }else if( level ==2){
        $("#"+aid).attr('class', "text-warning");
        $("#"+aid+"_ico").attr('class', "glyphicon glyphicon-ban-circle text-warning");
    }else{
        $("#"+aid).attr('class', "text-danger");
        $("#"+aid+"_ico").attr('class', "glyphicon glyphicon-remove text-danger");
     }
};
/*********************************************** Refresh */

$("#refresh_btn3").on('click', function(event){
    event.preventDefault();
    update_testbeds();
});
$("#refresh_btn2").on('click', function(event){
    event.preventDefault();
    update_testbeds();
});
$("#refresh_btn1").on('click', function(event){
    event.preventDefault();
    update_testbeds();
});

function update_testbeds(){
    disableRefresh();
    {% for n in node_list %}
        var node_id = '{{ n.node_ref.vm_name }}';
        check_status(node_id);
    {% endfor %}
    enableRefresh();
};

function update_node(node_id, status){
    if(status == "on"){
        $("span[name=node_"+node_id+"]").removeAttr('class').attr('class', "glyphicon glyphicon-play-circle text-success");
        $("input[data-id=node_"+node_id+"]").removeAttr("disabled");
    }else if(status =="off"){
        $("span[name=node_"+node_id+"]").removeAttr('class').attr('class', "glyphicon glyphicon-off text-danger");
        $("input[data-id=node_"+node_id+"]").attr("disabled","disabled");
    }else {
        $("span[name=node_"+node_id+"]").removeAttr('class').attr('class', "glyphicon glyphicon-exclamation-sign text-warning");
        $("input[data-id=node_"+node_id+"]").attr("disabled","disabled");
    };
}
function check_status(node_id) {
    $.ajax({
        url : "/portal/testbeds/map/check_status",
        type : "POST",
        data : { the_post : node_id },
        success : function(json) {
            var result = json['status'];
            update_node(node_id, result);
        },
        error : function(xhr,errmsg,err) {
            update_node(node_id, "error");
        }
    });
};

</script>
{% endblock %}
