{% extends "layout-unfold3.html" %}
{% block unfold_main %}

<div class="onelab-title">
	<h2>History List</h2>
</div>
<h3>Testbeds Server Activity</h3>
<div id="middle_1" align="center">
	<div class="well">
		<table class="table table-bordered table-striped table-hover">
			<thead class="thead-dark"><tr>
    			<th>Slice Name</th>
        		<th>Authority</th>
				<th>Request Time</th>
				<th>Est. Start Time</th>
				<th>Est. End Time</th>
				<th>Status</th></tr>
    		</thead><tbody>
			{% for row in history_list_omf %}
   			<tr class="border_bottom">
    			<td > {{ row.slice_name }} </td>
        		<td > {{ row.authority_hrn }} </td>
				<td > {{ row.created }}  </td>
				<td > {{ row.f_start_time }} </td>
				<td > {{ row.f_end_time }} </td>
				<td >
                    {% if row.status == 0 %}Disabled
                    {% elif row.status == 1 %}Pending
                    {% elif row.status == 2 %}Waiting
                    {% elif row.status == 3 %}Approved
                    {% elif row.status == 4 %}Expired
                    {% elif row.status == 5 %}Canceled
					{% else %}N/A
                    {% endif %}
				</td>
    		</tr>
			{% endfor %}</tbody>
		</table>
	</div>
</div>
{% if sim_enable %}
<h3>Simulation Server Activity</h3>
<div id="middle_2" align="center">
	<div class="well">
		<table class="table table-bordered table-striped  table-hover">
			<thead class="thead-dark"><tr>
    			<th>Slice Name</th>
        		<th>Authority</th>
        		<th>Request Time</th>
				<th>Est. Start Time</th>
				<th>Est. End Time</th>
				<th>Virtual Machine</th>
				<th>Status</th></tr>
    		</thead><tbody>
			{% for row in history_list_sim %}
   			<tr class="border_bottom">
    			<td > {{ row.slice_name }} </td>
        		<td > {{ row.authority_hrn }} </td>
				<td > {{ row.created }}  </td>
				<td > {{ row.f_start_time }} </td>
				<td > {{ row.f_end_time }} </td>
       			<td > {{ row.vm_ref }}  </td>
				<td >
                    {% if row.status == 0 %}Disabled
                    {% elif row.status == 1 %}Pending
                    {% elif row.status == 2 %}Waiting
                    {% elif row.status == 3 %}Approved
                    {% elif row.status == 4 %}Expired
                    {% elif row.status == 5 %}Canceled
					{% else %}N/A
                    {% endif %}
				</td>
    		</tr>
			{% endfor %}</tbody>
		</table>
	</div>
</div>
{% endif %}
{% endblock %}