{% extends "layout-unfold1.html" %}
{% block unfold_main %}
<!--link rel="stylesheet" type="text/css" href='{{ STATIC_URL }}css/onelab.css' /-->
<link rel="stylesheet" type="text/css" href='{{ STATIC_URL }}css/registration.css' />
<link rel="stylesheet" href="{{STATIC_URL}}css/codemirror.css" />
<link rel="stylesheet" href="{{STATIC_URL}}css/rubyblue.css" />
<link rel="stylesheet" href="{{STATIC_URL}}css/fullscreen.css" />
<script src="{{STATIC_URL}}js/codemirror.js"></script>
<script src="{{STATIC_URL}}js/placeholder.js"></script>
<script src="{{STATIC_URL}}js/ruby.js"></script>
<script src="{{STATIC_URL}}js/fullscreen.js"></script>
<style type="text/css" >
    #fade {
        display: none;
        position:absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background-color: #ababab;
        z-index: 1001;
        -moz-opacity: 0.8;
        opacity: .70;
        filter: alpha(opacity=80);
    }

    #modal {
        display: none;
        position: absolute;
        top: 45%;
        left: 45%;
        /*width: 64px;
        height: 64px;
        padding:30px 15px 0px;*/
        border: 3px solid #ababab;
        box-shadow:1px 1px 10px #ababab;
        border-radius:20px;
        background-color: white;
        z-index: 1002;
        text-align:center;
        overflow: auto;
    }
</style>

<div style="text-align:center" class="well-sm">
    <h2>Testbeds Remote Control Panel</h2>
</div>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<div id="home-dashboard">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Instructions</a></li>
        <li role="presentation" ><a href="#loadimage" aria-controls="loadimage" role="tab" data-toggle="tab">(1) Load Images</a></li>
        <li role="presentation" ><a href="#manager" aria-controls="manager" role="tab" data-toggle="tab">(2) Execute Manager</a></li>
        <li role="presentation" ><a href="#saveimage" aria-controls="saveimage" role="tab" data-toggle="tab">(3) Save Image</a></li>
        <li role="presentation" ><a href="#remote" aria-controls="remote" role="tab" data-toggle="tab">(*) Remote Control</a></li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active"  id="home">
            <h4>Instruction:</h4>
            <ol>
                <li>Open <b><i>Load Image</i></b> tab and load image</li>
                <li>Wait <b>Loading</b> process finish</li>
                <li>In <b><i>Execute Manager</i></b> tab and past your script <b>or</b> edit from existing template</li>
                <li>Execute script remotely using <b>or</b> use <a href="/portal/experiment">external tools</a></li>
                <li>Open <b><i>Save Image</i></b> tab to save your image if you want to save your work</li>
            </ol>
            <ul>
                <li><a href="/portal/experiment">See how to use external tools</a></li>
            </ul>
        </div>

        <div role="tabpanel" class="tab-pane" id="loadimage">
            <h4>Loading Image</h4>
            <div class="well"><!--/portal/lab/loadimage/-->
            <form class="cmxform form-horizontal" id="load-image-form" method="post" action="control_load_image"  enctype="multipart/form-data" role="form">
                <fieldset>
                    {% csrf_token %}
                    <div class="form-group">
                         <div class="col-xs-12">
                             <div class="ui-widget btn-toolbar" role="group">
                                <div class="btn-group" role="group">
                                    <button  class="btn btn-default" type="reset">Clear Selection</button>
                                    <button  class="submit btn btn-danger" type="submit">Load Image</button>
                                </div>
                             </div>
                         </div>
                    </div>
                    <div class="form-group">
                        <label for="nodes" class="col-xs-2 control-label">Nodes</label>
                        <div class="col-xs-4">
                            <div id="nodes" class="ui-widget checkbox">
                                {% for row in node_list %}
                                    <label><input  type="checkbox" name="node_group" value="{{ row.node_ref.vm_name }}">{{ row.node_ref }}</input></label><br/>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <p class="form-hint">Select Target Testbed</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="osimage" class="col-xs-2 control-label">Image</label>
                        <div class="col-xs-4">
                            <div class="ui-widget">
                               <select id="osimage" name="osimage" class="form-control" value="{{ image_id }}" >
                                   {% for row in image_list %}
                                        <option value="{{ row.location }}" label="{{ row.image_name }} :: {{ row.image_type }}" ></option>
                                   {% endfor %}
                                    {% for row in user_image_list %}
                                        <option value="{{ row.location }}" label="{{ row.image_name }} :: Modified" ></option>
                                   {% endfor %}
                               </select>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <p class="form-hint">Select the Image</p>
                        </div>
                    </div>
                    <!--div class="form-group">
                        <label for="a_save" class="col-xs-2 control-label">Auto Save</label>
                        <div class="col-xs-4">
                            <div id="a_save" class="ui-widget checkbox">
                                <label><input  type="checkbox" name="autosave" value="1">Auto save image(s) on selected node</input></label><br/>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <p class="form-hint">Auto-save image in case of timeout/p>
                        </div>
                    </div-->

                </fieldset>
            </form>
        </div>
        </div>

        <div role="tabpanel" class="tab-pane" id="saveimage">
            <h4>Saving Image</h4>
            <div class="well"> <!--control_save_image-->
            <form class="cmxform form-horizontal" id="save-image-form" method="post" action="control_save_image"  enctype="multipart/form-data" role="form">
                <fieldset>
                    {% csrf_token %}
                    <div class="form-group">
                         <div class="col-xs-12">
                             <div class="ui-widget btn-toolbar" role="group">
                                <div class="btn-group" role="group">
                                    <button  class="btn btn-default" type="reset">Clear Selection</button>
                                    <button  class="submit btn btn-danger" type="submit">Save Image</button>
                                </div>
                             </div>
                         </div>
                    </div>
                    <div class="form-group">
                        <label for="nodes" class="col-xs-2 control-label">Nodes</label>
                        <div class="col-xs-4">
                            <div class="ui-widget radio">
                                {% for row in node_list %}
                                    <label><input type="radio" name="node_group" value="{{ row.node_ref.vm_name }}">{{ row.node_ref }}</input></label><br/>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <p class="form-hint">Select Target Testbed</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="osimage" class="col-xs-2 control-label">Image Name</label>
                        <div class="col-xs-4">
                            <div class="ui-widget">
                              <input id="image_name" class="form-control" type="text" name="image_name" value="" required/>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <p class="form-hint">Enter the Image Name</p>
                        </div>
                    </div>
                </fieldset>
            </form>

            </div>
        </div>

        <div role="tabpanel" class="tab-pane" id="remote">
            <h4>Remote Control Machine</h4>
            <div class="well"> <!--control_save_image-->
            <form class="cmxform form-horizontal" id="remote-image-form" method="post" action="control_remote_node"  enctype="multipart/form-data" role="form">
                <fieldset>
                    {% csrf_token %}
                    <div class="form-group">
                         <div class="col-xs-12">
                             <div class="ui-widget btn-toolbar" role="group">
                                <div class="btn-group" role="group">
                                    <button  class="btn btn-default" type="reset">Clear Selection</button>
                                    <button id="remote_start" name="b_start" class="btn btn-info" type="submit">Start </button>
                                    <button id="remote_restart" name="b_restart" class="btn btn-warning" type="submit">Restart </button>
                                    <button id="remote_shutdown" name="b_shutdown" class="btn btn-danger" type="submit">Shutdown </button>
                                    <button class="btn btn-default" type="" disabled>Hibernate</button>
                                </div>
                             </div>
                         </div>
                    </div>
                    <div class="form-group">
                        <label for="nodes" class="col-xs-2 control-label">Nodes</label>
                        <div class="col-xs-4">
                            <div class="ui-widget radio">
                                {% for row in node_list %}
                                    <label><input type="radio" name="node_group" value="{{ row.node_ref.vm_name }}">{{ row.node_ref }}</input></label><br/>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <p class="form-hint">Select Target Node</p>
                        </div>
                    </div>

                </fieldset>
            </form>

            </div>
        </div>

        <div role="tabpanel" class="tab-pane" id="manager">
            <h4>Execute Script</h4>
            <div class="well"><!--/portal/lab/omfexe/-->
            <form name ="exe-image-form" class="cmxform form-horizontal" id="exe-image-form" method="post" action="create_post"  enctype="multipart/form-data" role="form" novalidate>
                <fieldset>
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="ui-widget btn-toolbar" role="group">
                                <div class="btn-group" role="group">
                                    <button id="code_clear" class="btn btn-default" type="reset" name="code_clear">Clear</button>
                                    <button id="code_fullscreen" class="btn btn-default" name="code_fullscreen">Fullscreen</button>
                                    <div class="btn-group" role="group">
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Sample Script
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a id="sample-1" href="#">PING</a></li>
                                            <li><a id="sample-2" href="#">USRP</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="btn-group" role="group">
                                    <button class="submit btn btn-danger" type="submit" name="execute_script">Execute/Run</button>
                                </div>
                            </div>
                            <div class="ui-widget" style="height: 10px;"></div>
                            <div >
                                <textarea id="code" name="code" style="width: 100%; height:300px;"
                                         placeholder="Past your script here" required></textarea>
                            </div>
                            <small>Press F11 when cursor is in the editor to toggle full screen editing. Esc can also be used to exit full screen editing.</small>
                        </div>
                        <div class="col-xs-12"><h5>Output terminal</h5>
                            <div class="ui-widget">
                               <textarea id="output" readonly="readonly" style="height:110px; width:100%;">{{ output }}</textarea>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>

        </div>

    </div>

    <div id="fade"></div>
    <div id="modal">
      <img id="loader" src="{{STATIC_URL}}/img/loading1.gif" />
  </div>
</div>

<script type="text/javascript">
    var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
        lineNumbers: true,
        theme: "rubyblue",
        mode: {name:"ruby", globalVars: true},
        styleActiveLine: true,
        matchBrackets: true,
        extraKeys: {
            "F11": function(editor) {
                editor.setOption("fullScreen", !editor.getOption("fullScreen"));
            },
            "Esc" : function(editor){
                if(editor.getOption("fullScreen"))
                    editor.setOption("fullScreen", false);
            }
        }
    });
    editor.refresh();

    /*$('#remote_restart').on('click', function(event){
        var form = document.getElementById("remote-image-form");
        remote("restart",form.elements["node_group"].value);
    });

    $('#remote_shutdown').on('click', function(event){
        var form = document.getElementById("remote-image-form");
        remote("shutdown",form.elements["node_group"].value);
    });*/

    $('#code_fullscreen').on('click', function(event){
        event.preventDefault();
        editor.setOption("fullScreen", true);
    });

    $('#code_clear').on('click', function(event){
        event.preventDefault();
        editor.setValue('');
    });

    $('#sample-1').on('click', function(event){
        event.preventDefault();
        load_samples("sample-1");
    });

    $('#sample-2').on('click', function(event){
        event.preventDefault();
        load_samples("sample-2");
    });

    $('#load-image-form').on('submit', function(event){
        //event.preventDefault();
        openModal();
        //create_save_post();
    });

    $('#save-image-form').on('submit', function(event){
        //event.preventDefault();
        openModal();
        //create_save_post();
    });

    $('#exe-image-form').on('submit', function(event){
        event.preventDefault();
        create_exe_post();
    });

    function create_exe_post() {
        openModal();
        $.ajax({
            url : "create_exe_post", // the endpoint
            type : "POST", // http method
            data : { the_post : editor.getValue() }, //$('#code').val() }, // data sent with the post request

            // handle a successful response
            success : function(json) {
                console.log(json); // log the returned json to the console
                console.log("success"); // another sanity check
                $('#output').val(json['result']);
                //console.log($('#code').val())
                closeModal();
            },

            // handle a non-successful response
            error : function(xhr,errmsg,err) {
                $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                    " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                closeModal();
            }
        });
    };

    function load_samples(sample_no) {
        console.log("success start");
        openModal();
        $.ajax({
            url : "load_samples", // the endpoint
            type : "POST", // http method
            data : { the_post : sample_no}, // data sent with the post request

            // handle a successful response
            success : function(json) {
                console.log(json); // log the returned json to the console
                console.log("success"); // another sanity check
                //$('#code').val(json['result']);
                editor.setValue(json['result']);
                closeModal();
            },

            // handle a non-successful response
            error : function(xhr,errmsg,err) {
                $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                    " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                closeModal();
            }
        });
    };

    /*function remote(action,node_name) {
        openModal();
        $.ajax({
            url : "control_remote_node", // the endpoint
            type : "POST", // http method
            data : { the_action : action, the_node: node_name}, // data sent with the post request
            success : function(json) {
                closeModal();
            },
            error : function(xhr,errmsg,err) {
                $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                    " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                closeModal();
            }
        });
    };*/

    function openModal() {
        document.getElementById('modal').style.display = 'block';
        document.getElementById('fade').style.display = 'block';
    };

    function closeModal() {
        document.getElementById('modal').style.display = 'none';
        document.getElementById('fade').style.display = 'none';
    };
</script>

{% endblock %}
