{% extends "layout-unfold1.html" %}

{% block head %}
    {{ wizard.form.media }}
{% endblock %}

{% block unfold_main %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/Chart.min.js"></script>
    <div class="onelab-title">
        <h2>Usage Statistics</h2>
    </div>

    {% if errors %}
        <ul>
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <div class="row">
        <div class="col col-md-6">
            <h4>Personal Stats</h4>
            <h5>Plan: {{ user_plan }} ({{ user_quota_size }} hr/month)</h5>
            Reservation usage: <span class="pull-right strong">{{ user_usage }}hr </span>
        </div>
    </div>
    <div class="row d-flex justify-content-center mt-5">
        <div class="col-md-10">
            <h5>Current Month: ({{ curr_start }} : {{ curr_end }})</h5>
            <canvas id="pieChart"></canvas>
        </div>
        <div class="col-md-10">
            <h5>Last Year</h5>
            <canvas id="lineChart"></canvas>

        </div>
    </div>


    <script>
        window.onload = function () {
            var ctxL = document.getElementById("lineChart").getContext('2d');
            var gradientFill = ctxL.createLinearGradient(0, 0, 0, 290);
            gradientFill.addColorStop(0, "rgba(173, 53, 186, 1)");
            gradientFill.addColorStop(1, "rgba(173, 53, 186, 0.1)");
            var myLineChart = new Chart(ctxL, {
                type: 'line',
                data: {
                    labels: {{ year_l|safe }},
                    datasets: [
                        {
                            label: "month usage",
                            data: {{ year_v|safe }},
                            backgroundColor: gradientFill,
                            borderColor: [
                                '#AD35BA',
                            ],
                            borderWidth: 2,
                            pointBorderColor: "#fff",
                            pointBackgroundColor: "rgba(173, 53, 186, 0.1)",
                        }
                    ]
                },
                options: {
                    responsive: true
                }
            });
            //pie
            var ctxP = document.getElementById("pieChart").getContext('2d');
            var myPieChart = new Chart(ctxP, {
                type: 'pie',
                data: {
                    labels: ["Used", "Free"],
                    datasets: [{
                        data: [{{ user_usage }}, ({{ user_quota_size}} - {{ user_usage }})],
                        backgroundColor: ["#F7464A", "#46BFBD"],
                        hoverBackgroundColor: ["#FF5A5E", "#5AD3D1"]
                    }]
                },
                options: {
                    responsive: true
                }
            });
        }
    </script>
{% endblock %}