{% extends "layout-unfold1.html" %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block unfold_main %}

<h1>CRC Portal Support</h1>
<h2>Tickets</h2>
<div id="middle" align="center">
    <div class="well">Under development ...
        <!--<table class="mytable table table-bordered table-hover">
            <tr>
                <th>Ticket No</th>
				<th>Reported By</th>
				<th>Description</th>
                <th>Status</th>
            </tr>
            <tr>
                <td>1</td>
				<td>support@crclab.org</td>
				<td> crc_request page is not working </td>
				<td> Unresolved</td>
            </tr>
			<tr>
    			<td>2</td>
				<td>qursaan@qursaan.com</td>
    			<td>Unable to Register</td>
    			<td>Unresolved</td>
			</tr>
        </table>-->
    </div>
</div>

<h2><a href="/portal/support/documentation">FAQ</a></h2>
<h2><a href="/portal/contact">Contact Us</a></h2>


{% endblock %}

