{% extends "layout-unfold1.html" %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block unfold_main %}

<h1>Testbeds Status</h1>
<h2>Building Map</h2>
<div id="middle" align="center">
    <div class="well">
        <img src="{{ STATIC_URL }}/img/topology.svg" width="700px"/>
    </div>
    </div>
<h2>Node Information</h2>
<div id="middle" align="center">
    <div class="well">
		<p>Last update: {{last_update}}</p>
        <table class="table table table-striped table-bordered table-hover">
			<tr >
    			<th>Node Name</th>
        		<th>IP Address</th>
				<th>Location</th>
        		<th>Status</th>
    		</tr>
			{% for n in node_list %}
   			<tr >
    			<td> {{ n.node_name }} </td>
        		<td> {{ n.node_ip }} </td>
				<td> {{ n.location }} </td>
                {% if n.status == 0 %}
                    <td class="text-danger">Offline</td>
                {% elif n.status == 1 %}
                    <td class="text-success">Online</td>
				{% else %}
                    <td class="text-warning">N/A</td>
                {% endif %}

    		</tr>
			{% endfor %}
		</table>
    </div>
</div>

{% endblock %}

