{% extends "layout-unfold1.html" %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block unfold_main %}
<div style="text-align:center" class="well-sm">
    <h1>Testbeds Status</h1>
</div>
<h2>Building Map</h2>
<div id="middle1" align="center">
    <div class="well">
        <img src="{{STATIC_URL}}/img/topology.svg" width="700px"/>
    </div>
    </div>
<h2>Nodes Information</h2>
<div id="middle2" align="center">
    <div class="well">
        <form name="refresh-form" class="cmxform form-horizontal" id="refresh_form" enctype="multipart/form-data" method="post" action="" role="form" novalidate>
            <fieldset>{% csrf_token %}
            <div id="refresh_pnl" class="btn-group" role="group">
                <p>Last update: <span id="update_time">{{last_update}}</span>
                <button id="refresh" class="submit btn btn-danger" type="submit" name="update_nodes">Refresh</button>
                </p>
            </div>
            <table id="testbed_table" class="table table table-striped table-bordered table-hover">
                <tr >
                    <th>Physical Node Name</th>
                    <th>Virtual Node Name</th>
                    <th>Resource Info</th>
                    <th>Status</th>
                </tr>
                {% for n in node_list %}
                <tr >
                    <td> {{ n.node_ref.node_name }} </td>
                    <td> {{ n.vm_name }} </td>
                    <td> {{ n.device_ref.type }} </td>
                    {% if n.status == 0 %}
                        <td id="node_{{ n.vm_name }}" class="text-danger">Offline</td>
                    {% elif n.status == 1 %}
                        <td id="node_{{ n.vm_name }}" class="text-success">Online</td>
                    {% else %}
                        <td id="node_{{ n.vm_name }}" class="text-warning">N/A</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </table>
            </fieldset>
            <div id="results"></div>
        </form>
    </div>
</div>

<script type="text/javascript">
update_testbeds();

$('#refresh_form').on('submit', function(event){
    event.preventDefault();
    update_testbeds();
});

function update_testbeds(){
    {% for n in node_list %}
        var node_id = '{{ n.vm_name }}';
        check_status(node_id);
    {% endfor %}
    var newDate = new Date();
    $('#update_time').text(newDate.toLocaleString() + "  ");
};

function check_status(node_id) {
    console.log("start refreshing");
    disableRefresh();
    $.ajax({
        url : "check_status", // the endpoint http://193.227.16.154:7777/api/v1/vm/"+node_id+"/status
        type : "POST", // http method
        data : { the_post : node_id }, //data sent with the post request

        success : function(json) {
            console.log(json); // log the returned json to the console
            //console.log("success"); // another sanity check
            var result = json['status'];
            console.log(result);
            if(result=="on"){
                $("#node_"+node_id).text("Online");
                $("#node_"+node_id).removeAttr('class').attr('class', "text-success");
            }else if(result=="off"){
                $("#node_"+node_id).text("Offline");
                $("#node_"+node_id).removeAttr('class').attr('class', "text-danger");
            }else{
                $("#node_"+node_id).text("N/A");
                $("#node_"+node_id).removeAttr('class').attr('class', "text-warning");
            };
            $('#results').html("");
            enableRefresh();
        },
        error : function(xhr,errmsg,err) {
            $("#node_"+node_id).text("N/A");
            $("#node_"+node_id).removeAttr('class').attr('class', "text-warning");
            $('#results').html("<div class='alert-box alert radius text-danger' data-alert>Oops! We have encountered an error: "+errmsg+
                " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
            //console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
            enableRefresh();
        }
    });
};

function disableRefresh() {
    document.getElementById('refresh').innerHTML = "Checking Status ...";
    document.getElementById('refresh').disabled = true;
};

function enableRefresh() {
    document.getElementById('refresh').innerHTML= "Refresh";
    document.getElementById('refresh').disabled = false;
};
</script>
{% endblock %}