ul.x-footer-logo {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
ul.x-footer-logo li {
    display: inline-block;
    margin-right: 10px;
}

ul.x-footer-logo li a img{
    height: 75px;

}