{% extends "layout-unfold1.html" %}
{% load i18n %}
{% block unfold_main %}
    {% block content %}

        <div class="card">
            <h3 class="card-header text-center">
                {% trans "Welcome to CRC-Lab secured Password reset wizard" %}
            </h3>
            <div class="card-body">
                <p class="card-text">{% trans "Forgotten your password? Enter your email address below, and system will email instructions for setting a new one." %}</p>

                <form action="" method="post">{% csrf_token %}
                    {{ form.email.errors }}
                    <div class="form-group">
                        <label for="id_email">{% trans 'Email address:' %}</label> {{ form.email }}

                        <input type="submit" class="btn btn-dark" value="{% trans 'Reset my password' %}"/>
                    </div>
                </form>
            </div>
        </div>
    {% endblock %}
{% endblock %}

