{% extends "fed-body.html" %}

{% block htitle %}

{% endblock %}

{% block fedbody %}
    <h4>Federation List</h4>

    <form id="fedlist" class="form-horizontal" action="" method="post" role="form">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-12">
                <div class="btn-toolbar" role="group">
                    <div class="btn-group" role="group">

                        <button id="refresh_btn3" name="refresh_list" data-id="refresh" class="btn btn-default"
                                type="button"
                                onclick="location.href='/federation/resources/'">
                            Refresh
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <table class="table table-hover table-sm table-bordered">
                    <thead class="thead-dark">
                    <tr>
                        <th>Resources Name</th>
                        <!--th>uid</th-->
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for row in resourceslist %}
                        <tr class="table-{% if row.shared == 0 %}error{% elif row.shared == 1 %}success{% else %}warning{% endif %}">
                            <td> {{ row }}</td>
                            <!--td> {-{ row.uid }}</td-->
                            <td>
                                {% if row.shared ==  1 %}Public
                                {% elif row.shared == 0 %}Private
                                {% else %}N/A
                                {% endif %}
                            </td>
                            <td>
                                {% if row.shared ==  1 %}
                                    <button onclick="location.href='/federation/resources/d/{{ row.id }}'"
                                            class="btn btn-dark btn-sm">
                                        Hidden
                                        <span class="fas fa-ban" aria-hidden="true"></span>
                                    </button>
                                {% elif row.shared == 0 %}
                                    <button onclick="location.href='/federation/resources/e/{{ row.id }}'"
                                            class="btn btn-dark btn-sm">
                                        Share
                                        <span class="fas fa-share-alt" aria-hidden="true"></span>
                                    </button>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </form>

{% endblock %}